@include font-face("Moderat", $dir-font + "Moderat-Regular") {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@include font-face("Moderat", $dir-font + "Moderat-Bold") {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@include font-face("Grifo", $dir-font + "Grifo-Regular") {
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@include font-face("Grifo", $dir-font + "Grifo-Bold") {
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@include font-face("Grifo", $dir-font + "Grifo-Bold-Italic") {
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
