input,
label,
select {
  display: block;
  font-family: $font-family-sans;
}

select {
  cursor: pointer;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  height: $spacing-base * 3;
  padding: $spacing-base;
  transition: $transition-base;
  width: 100%;

  &:focus {
    box-shadow: inset 0 0 0 3px $bg-color-accent;
    outline: 0;
  }
}

label {
  font-family: $font-family-sans;
  font-size: $font-size-small;
  letter-spacing: 1px;
  text-transform: uppercase;
}
