html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

footer {
  margin-top: auto;
}

main {
  padding: 4rem $spacing-large 0 $spacing-large;
}
