body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  line-height: $line-height-base;
}

p {
  margin: 0;
}

strong {
  font-weight: $font-weight-bold;
}

abbr {
  &[title] {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin: 0;
}

h1,
h2, {
  font-family: $font-family-display;
  font-size: $font-size-large;

  @include breakpoint("medium") {
    font-size: $font-size-x-large;
  }
}

h3 {
  font-family: $font-family-display;
  font-size: $font-size-medium;

  @include breakpoint("medium") {
    font-size: $font-size-large;
  }
}

h4 {
  font-family: $font-family-display;
  font-size: $font-size-base-plus;
}

h5,
h6 {
  font-family: $font-family-sans;
  font-size: $font-size-base-plus;
}

address {
  font-style: normal;
  font-family: $font-family-sans;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}

a {
  color: $text-color-base;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $text-color-accent;
  }

  p &,
  address & {
    color: $text-color-accent;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }
}

figcaption {
  font-family: $font-family-sans;
  font-size: $font-size-small;
}

blockquote {
  margin: $spacing-large auto;
  max-width: $width-small;

  > * {
    margin-bottom: $spacing-base;
  }

  &:before {
    border-bottom: 2px solid $bg-color-tertiary;
    content: "";
    display: block;
    width: $spacing-large;
    margin: $spacing-base auto;
  }
}

.bq--feature {
  p {
    font-family: $font-family-display;
    font-size: $font-size-medium;
    text-align: center;
  }
}

.bq--sm {
  background-color: $bg-color-base;

  p {
    font-style: italic;
    margin-bottom: $spacing-base;
  }
}

.crosshed {
  margin-top: 3rem;
  margin-bottom: 0.5rem;

  &::after {
    content: "";
    display: block;
    border-bottom: 3px solid $bg-color-tertiary;
    width: 3rem;
    margin-top: 1rem;
  }
}

.overline {
  background-color: $bg-color-accent;
  color: $text-color-inverse;
  display: inline-block;
  font-family: $font-family-sans;
  font-size: $font-size-xx-small;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding: $spacing-small;
  text-transform: uppercase;
}

.overline--min {
  color: $text-color-accent;
  display: inline-block;
  font-family: $font-family-sans;
  font-size: $font-size-x-small;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
