body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

p {
  margin: 0;
}

strong {
  font-weight: $font-weight-bold;
}

abbr {
  &[title] {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin: 0;
}

h1,
h2, {
  font-family: $font-family-display;
  font-size: $font-size-large;

  @include breakpoint("medium") {
    font-size: $font-size-x-large;
  }
}

h3 {
  font-family: $font-family-display;
  font-size: $font-size-medium;

  @include breakpoint("medium") {
    font-size: $font-size-large;
  }
}

h4 {
  font-family: $font-family-display;
  font-size: $font-size-base-plus;
}

h5,
h6 {
  font-family: $font-family-sans;
  font-size: $font-size-base-super;
}

address {
  font-family: $font-family-sans;
  font-size: $font-size-small;
  font-style: normal;
  font-weight: $font-weight-bold;
}

a {
  color: $text-color-base;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $text-color-accent;
  }

  p &,
  address &,
  cite & {
    color: $text-color-accent;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }
}

figure {
  cite {
    display: block;
    font-family: $font-family-sans;
    font-size: $font-size-x-small;
    font-style: normal;
    text-transform: uppercase;
    transform: translateY(-0.5rem);
  }
}

figcaption {
  font-family: $font-family-sans;
  font-size: $font-size-small;
}

sup {
  font-size: 100%;
  line-height: inherit;
  top: auto;
}

cite {
  font-style: normal;
}

.bq--feature {
  margin: 0 auto;
  max-width: $width-base;
  text-align: center;

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-medium;
    }
  }

  p {
    font-family: $font-family-display;
    font-size: $font-size-medium;
    font-style: italic;
    font-weight: $font-weight-bold;

    @include breakpoint("medium") {
      font-size: $font-size-large;
    }

    a {
      color: $text-color-base;

      &:hover {
        color: $text-color-accent;
        text-decoration: none;
      }
    }
  }

  cite {
    display: block;
    font-family: $font-family-sans;
    font-weight: $font-weight-bold;
    text-align: right;

    &::before {
      content: "\2014";
    }
  }
}

.bq--sm {
  padding: $spacing-large;

  p {
    font-size: $font-size-copy;
    line-height: $line-height-generous;
    margin-bottom: 0;
  }
}

.crosshed {
  margin-bottom: $spacing-base;
  margin-top: $spacing-x-large;

  &::after {
    border-bottom: 1px solid $bg-color-tertiary;
    content: "";
    display: block;
    margin-top: $spacing-base;
    width: $spacing-xx-large;
  }
}

.overline {
  background-color: $bg-color-accent;
  color: $text-color-inverse;
  display: inline-block;
  font-family: $font-family-sans;
  font-size: $font-size-xx-small;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding: $spacing-small;
  text-transform: uppercase;
}

.overline--topic {
  display: inline-block;
  font-family: $font-family-sans;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-base;
  padding-top: $spacing-x-small;
}

.overline--min {
  border-bottom: 1px solid $bg-color-secondary;
  font-family: $font-family-sans;
  font-size: $font-size-x-small;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  padding-bottom: $spacing-small;
  text-transform: uppercase;
}
