{{#> layout }}


    <div class="topic-hed">
      <p class="overline--topic">About</p>
    </div>

      <section class="about">
      <p class="overline--min">What is experience?</p>
      <h1 class="about__hed">Jump in</h1>
      <div class="about__copy">
        <p>That’s our motto, our credo, our exhortation. Experience is a digital magazine that examines the power of experience to spark ideas, solve problems, transform industries, and drive personal growth. Our stories will invite readers to understand the experiences of others, challenge assumptions, and break through the bubbles that too often persist in culture and civic life.
        </p>

        <p>Because these goals are universal, we won’t categorize our stories by topic as many magazines do. Instead, we’ll order them by entry point: <a href="">first-person</a> essays and immersive videos; deeply-reported examinations of <a href="">ideas</a>; surprising takes on experience <a href="">in the news</a>. We’ll reassemble stories into <a href="">playlists</a> that explore variations on a common theme &mdash; be it reinvention, conquering fear, or adjusting to technology. Through it all, we’ll promote a spirit of doing, growing, taking leaps, and embracing the new.
        </p>

        <p>The philosophy at the heart of Experience is the same one that powers our sponsor, Northeastern University, a global leader in experiential learning: That education should be a lifelong endeavor, and that the best way to gain insight is through&hellip; experience. 
        </p>
    </div>
    </section>

    <section class="about">
      <p class="overline--min">Staff</p>
    </section>

    <section class="about">
      <p class="overline--min">Contact</p>
    </section>

    <section class="about">
      <p class="overline--min">Submissions</p>
    </section>

    <section class="about">
      <p class="overline--min">Privacy Policy</p>
    </section>

    <section class="about">
      <p class="overline--min">Media Kit</p>
    </section>

{{/layout}}