{{#> layout }}
  <article class="article">
    {{> modules/hero }}

    {{> modules/article-content }}
  </article>

  <section class="recirc">
    {{> modules/tease-sm }}
    {{> modules/tease-sm }}
    {{> modules/tease-mid }}
    {{> modules/tease-sm }}
    {{> modules/tease-sm }}
  </section>
{{/layout}}