{{#> layout }}
    <div class="topic-hed">
      <p class="topic-hed__title">First Person</p>
      <p class="topic-hed__subtitle">Vicarious experiences</p>
    </div>

  {{> modules/hero type="fullscreen" overline=false subpage=true}}

  <section class="topic-container">

    <section class="recirc">
      {{> modules/tease-mid recircclass="recirc__big" byline=true headline="Water terrifies me. Here’s how I took the plunge."}}
      {{> modules/tease-sm}}
      {{> modules/tease-sm}}
    </section>

    <section class="recirc">
      <blockquote class="bq bq--feature recirc__big">
        <p><a href="#">I came away amazed at how much people already have inside of themselves, how much creativity, but also how much anger and hurt and rage.</a></p>
        <cite>Toussaint L'Overture</cite>
      </blockquote>
    </section>

    <section class="recirc">
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
    </section>

  </section>

{{/layout}}