{{#> layout }}
  <div class="topic-hed">
    <p class="overline--min">First Person</p>
    <p class="topic-hed__subtitle">Experience the world through someone else's eyes.</p>
  </div>

  {{> modules/hero type="fullscreen" overline=false link=true}}

  <section class="topic-container">

    <section class="recirc">
      <div class="recirc__feature">
        {{> modules/tease-mid }}
      </div>
      <div class="recirc__list">
        {{> modules/tease-sm }}
        {{> modules/tease-sm }}
        {{> modules/tease-sm }}
        {{> modules/tease-sm }}
      </div>
    </section>

    <blockquote class="bq bq--feature">
      <p><a href="#">I came away amazed at how much people already have inside of themselves, how much creativity, but also how much anger and hurt and rage.</a></p>
    </blockquote>

    {{> modules/tease-feature }}

  </section>

{{/layout}}