{{#> layout }}

  {{> modules/hero type="inset" overline="First Person" byline=true subpage=true overline-link=true}}

  <section class="topic-container">

    <section class="recirc recirc--layout-grid">
      {{> modules/tease-mid recircclass="recirc__big" byline=true overline-link=true overline="In the News" headline="Water terrifies me. Here’s how I took the plunge."}}
      <p class="overline--min">Stories in <a href="#">First Person</a></p>
      {{> modules/tease-sm }}
      {{> modules/tease-sm}}
    </section>
  </section>

    {{> modules/hero type="inset-reverse" byline=true overline="First Person" subpage=true overline-link=true}}

<section class="topic-container">
    <section class="recirc recirc--even-grid">
      <blockquote class="bq bq--feature recirc__big">
        <p><a href="#">I came away amazed at how much people already have inside of themselves, how much creativity, but also how much anger and hurt and rage.</a></p>
        <cite>Toussaint L'Overture in <a href="#">Finding life and meaning after the war is over</a></cite>
      </blockquote>
    </section>

    <section class="recirc recirc--even-grid">
      <p class="overline--min">Stories in <a href="#">First Person</a></p>
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
      {{> modules/tease-sm }}
    </section>

    <section class="recirc recirc--layout-grid-reverse">
      {{> modules/tease-mid recircclass="recirc__big" byline=true overline-link=true overline="In the News" headline="Water terrifies me. Here’s how I took the plunge."}}
      <p class="overline--min">Stories in <a href="#">First Person</a></p>
      {{> modules/tease-sm }}
      {{> modules/tease-sm}}
    </section>

    {{> modules/newsletter }}

  </section>

{{/layout}}