{{#> layout }}
    <div class="topic-hed">
      <p class="overline--topic">In the News</p>
      <p class="topic-hed__subtitle">The latest from Experience</p>
    </div>

  {{> modules/hero type="fullscreen" overline=false byline=false news-dek=true subpage=true overline-link=true headline="Why we can’t talk about guns"}}


    <section class="topic-container">

    <section class="recirc recirc--layout-grid">
      {{> modules/tease-mid recircclass="recirc__big" byline=true headline="Water terrifies me. Here’s how I took the plunge."}}
      {{> modules/tease-sm}}
      {{> modules/tease-sm}}
    </section>

    <section class="recirc recirc--even-grid">
      <p class="overline--min">What we're reading</p>
      {{> modules/tease-sm outside-ref="Deadspin" dek=true}}
      {{> modules/tease-sm outside-ref="Pacific Standard" dek=true}}
      {{> modules/tease-sm outside-ref="Buzzfeed" dek=true}}
      {{> modules/tease-sm outside-ref="The Outline" dek=true}}
      {{> modules/tease-sm outside-ref="Axios" dek=true}}
      {{> modules/tease-sm outside-ref="The Atlantic" dek=true}}
    </section>

    <section class="recirc recirc--layout-grid">
      <p class="overline--min">Most Popular</p>
      {{> modules/tease-mid recircclass="recirc__big" byline=true subpage=true headline="Water terrifies me. Here’s how I took the plunge."}}
      {{> modules/tease-sm}}
      {{> modules/tease-sm}}
    </section>

    <section class="recirc recirc--even-grid">
      <blockquote class="bq bq--feature recirc__big">
        <p><a href="#">I came away amazed at how much people already have inside of themselves, how much creativity, but also how much anger and hurt and rage.</a></p>
        <cite>Toussaint L'Overture in <a href="#">Finding life and meaning after the war is over</a></cite>
      </blockquote>
    </section>

  </section>
{{/layout}}