{{!-- {{#> layout }} --}}
<ul>

  Homepage
  <ul>
    <li><a href="/homepage">Homepage</a></li>
  </ul>

  Articles
  <ul>
    <li><a href="/article-longform">Longform</a></li>
    <li><a href="/article-qa">Q &amp; A</a></li>
    <li><a href="/article-listicle">Listicle</a></li>
  </ul>

  Subpages
  <ul>
    <li><a href="/first-person">In the News</a></li>
    <li><a href="/first-person">Ideas</a></li>
    <li><a href="/first-person">First Person</a></li>
    <li><a href="/playlist">Playlist</a></li>
  </ul>
</ul>
{{!-- {{/layout}} --}}