{{#> layout type="playlist"}}
  <div class="topic-hed">
    <p class="overline--topic">Playlist</p>
    <p class="topic-hed__subtitle">3 stories about Reinvention</p>
  </div>

  <article class="article">
    {{> modules/hero type="fullscreen" byline=true overline="First Person" overline-link=true img="pl-1" }}
    <button type="button" class="btn--secondary" data-article-toggle-btn="article-title-1">Read story</button>
    <div hidden data-article-toggle-content="article-title-1">
      {{> modules/article-text-content }}
    </div>
  </article>

  <article class="article">
    {{> modules/hero type="fullscreen" byline=true overline="Ideas" overline-link=true headline="60 minutes. 150 meals. Go!" img="pl-2"}}
    <button type="button" class="btn--secondary" data-article-toggle-btn="article-title-2">Read story</button>
    <div hidden data-article-toggle-content="article-title-2">
      {{> modules/article-text-content }}
    </div>
  </article>

  <article class="article">
    {{> modules/hero type="fullscreen" byline=true overline="In the news" overline-link=true headline="Finding life and meaning after the war is over" img="pl-3"}}
    <button type="button" class="btn--secondary" data-article-toggle-btn="article-title-3">Read story</button>
    <div hidden data-article-toggle-content="article-title-3">
      {{> modules/article-text-content }}
    </div>
  </article>

  <section class="recirc recirc--layout-grid">
      <p class="overline--min">More in <a href="#">Playlists</a></p>
      {{> modules/tease-mid recircclass="recirc__big" byline=true headline="Water terrifies me. Here’s how I took the plunge."}}
      {{> modules/tease-sm }}
      {{> modules/tease-sm}}
    </section>

  <div class="playlist-nav" data-playlist-nav hidden>
    <button type="button" data-article-toggle-all class="playlist-nav__btn playlist-is-collapsed btn--secondary">Playlist: Show All 3 stories about Reinvention</button>
  </div>

{{/layout}}