{{#> layout }}
  <div class="topic-hed">
      <h1 class="topic-hed__title overline">Playlist</h1>
      <p class="topic-hed__subtitle">Reinvention</p>
    </div>

    <article class="article">
    {{> modules/hero type="fullscreen" overline="First Person"}}

    <button class="btn--secondary" data-article-toggle-btn="article-title-1">Read more +</button>
    <div class="article--hidden" hidden data-article-toggle-content="article-title-1">
    {{> modules/article-text-content }}
    </div>
  </article>

  <article class="article">
    {{> modules/hero type="fullscreen" overline="First Person"}}

    <button class="btn--secondary" data-article-toggle-btn="article-title-2">Read more +</button>
    <div class="article--hidden" hidden data-article-toggle-content="article-title-2">
    {{> modules/article-text-content }}
    </div>
  </article>

{{/layout}}