.article {
  margin-bottom: $spacing-xx-large;
}

.article-content {
  counter-reset: sup cite;
  margin: 0 auto;

  figure,
  .bq--feature {
    margin-bottom: $spacing-medium;
  }

  > *:not(figure) {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-article-column;
  }

  > p {
    font-size: $font-size-copy;
    line-height: $line-height-generous;
    margin-bottom: $spacing-large;
    position: relative;
  }
}

// Author bio
.author-bio {
  border-bottom: 1px solid $bg-color-secondary;
  margin: 2rem auto;
  padding-bottom: $spacing-base;
  text-align: center;

  p {
    font-family: $font-family-sans;
  }
}

hr {
  border: 0;
  border-top: 2px solid $bg-color-tertiary;
  display: block;
  height: 2px;
  margin: $spacing-medium 0;
  padding: 0; 
  width: $spacing-xx-large;
}

.pubdate {
  font-style: italic;
  text-align: center;

  &::before {
    border-top: 2px solid $bg-color-tertiary;
    content: "";
    display: block;
    margin: $spacing-base auto;
    width: $spacing-xx-large;
  }
}
