.article {
  margin-bottom: $spacing-xx-large;
}

.article-content {
  counter-reset: sup cite;
  margin: 0 auto;

  figure,
  .bq--feature {
    margin-bottom: $spacing-medium;
  }

  > *:not(figure) {
    margin-left: auto;
    margin-right: auto;
    max-width: $width-article-column;
  }

  > p {
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: $spacing-large;
    position: relative;

    // Dropcap
    &:first-of-type {
      &::first-letter {
        border: 1px solid $bg-color-tertiary;
        box-shadow: 5px 5px 0 $bg-color-secondary;
        color: $text-color-accent;
        float: left;
        font-family: $font-family-display;
        font-size: $font-size-xx-large;
        font-weight: $font-weight-bold;
        line-height: 1;
        margin: $spacing-small $spacing-base 0 0;
        padding: $spacing-x-small $spacing-base;
        text-transform: uppercase;
      }
    }
  }
}

// Author bio
.author-bio {
  border-bottom: 1px solid $bg-color-secondary;
  margin: 2rem auto;
  padding-bottom: $spacing-base;
  text-align: center;

  p {
    font-family: $font-family-sans;
  }
}
