.article-content {
  margin: 0 auto $spacing-large auto;

  figure {
    margin-bottom: $spacing-medium;
  }

  > *:not(figure):not(aside) {
    max-width: $width-base;
    margin-left: auto;
    margin-right: auto;
  }

  > p {
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: $spacing-large;

    &:first-child {
      &::first-letter {
        border: 1px solid $bg-color-tertiary;
        color: $text-color-accent;
        float: left;
        font-family: $font-family-display;
        font-size: $font-size-xx-large;
        line-height: 1;
        padding: $spacing-x-small $spacing-base;
        margin: $spacing-small $spacing-base 0 0;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        box-shadow: 5px 5px 0 $bg-color-secondary;
      }
    }
  }
}
