// Media layouts
.layout-multi {
  @include breakpoint("medium") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > picture {
      width: 49%;

      &.layout-multi__large {
        width: 100%;
      }
    }
  }
}

.layout-youtube {
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    @include position(absolute, 0);
    @include size(100%);
  }
}

.media {
  margin-left: auto;
  margin-right: auto;

  picture {
    margin-bottom: $spacing-base;
  }
}

.media--full {
  max-width: $width-medium;
}

.media--inline {
  max-width: $width-base;
}
