.recirc {
  display: grid;
  grid-gap: $spacing-medium;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: $width-medium;

  @include breakpoint("small") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, min-content);

    blockquote {
      align-self: center;
    }
  }

  > * {
    &:only-of-type {
      grid-column: 1 / 4;
      max-width: $width-base;
    }
  }

  .overline--min {
    &:first-child {
      grid-column: 1 / 4;
      margin: 0 auto;

      + .recirc__big {
        grid-row: 2 / 4;
      }
    }
  }
}

.recirc__big {
  grid-column: 1 / 3;

  @include breakpoint("small") {
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    .recirc--layout-grid-reverse & {
      grid-column: 2 / 4;
    }
  }
}

.recirc--layout-grid {
  .overline--min {
    grid-column: 1 / 3;

    @include breakpoint("small") {
      grid-column: auto;
    }
  }
}

.recirc--layout-grid-reverse {
  @extend .recirc--layout-grid;
}

.recirc--even-grid {
  .overline--min {
    grid-column: 1 / 3;

    @include breakpoint("small") {
      grid-column: 1 / 4;
    }
  }
}
