.topic-container {
  margin: 0 auto;
  max-width: $width-large;

  > * {
    &:not(:last-child) {
      border-bottom: 5px solid $bg-color-secondary;
      margin-bottom: $spacing-x-large;
      padding-bottom: $spacing-large;
    }
  }
}

.topic-hed {
  background-color: $bg-color-secondary;
  background-image: linear-gradient(to top, $bg-color-tertiary, $bg-color-tertiary);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: calc(100% - #{$spacing-medium}) 1px;
  font-family: $font-family-sans;
  font-size: $font-size-small;
  
  padding: $spacing-base $spacing-medium;

  span {
    background-color: $bg-color-secondary;

    &:last-child {
      padding-right: $spacing-base;
    }
  }
}

.topic-hed__title {
  font-weight: $font-weight-bold;
}
