.topic-container {

  > * {
    margin-bottom: $spacing-xx-large;
  }
}

.topic-hed {
  margin: $spacing-x-large 0 $spacing-base;
  text-align: center;
}

.topic-hed__subtitle {
  font-family: $font-family-display;
  font-size: $font-size-base-super;
  font-style: italic;

  @include breakpoint("medium") {
    font-size: $font-size-large;
  }
}
