.site-footer {
  background-color: $bg-color-secondary;
  font-family: $font-family-sans;
  padding: $spacing-base;
  margin-top: $spacing-xx-large * 2;

  svg {
    margin-bottom: $spacing-base;
  }
}

.site-footer__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $spacing-large auto $spacing-medium;
  max-width: $width-base;

  @include breakpoint("small") {
    flex-direction: row;
  }
}

.site-footer__social {
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: $spacing-base;
    }
  }

  svg {
    fill: $text-color-accent;
    transition: $transition-base;
  }

  a {

    &:hover {
      svg {
        fill: $text-color-base;
      }
    }
  }
}


.site-footer__bottom {
  background-color: $color-offblack;
  box-shadow: 0 0 0 $spacing-base $color-offblack;
  color: $text-color-inverse;
  margin-top: $spacing-x-large;
  text-align: center;

  a {
    color: $text-color-inverse;

    &:hover {
      color: $text-color-accent;
    }
  }
}

.site-footer__nav {
  width: 100%;
  text-align: center;
}

.site-footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $width-base;
  font-weight: $font-weight-bold;

  @include breakpoint("small") {
    flex-direction: row;
  }

  li {
    margin-bottom: $spacing-base;
  }
}
