.site-header {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $spacing-medium $spacing-large;
  width: 100%;
}

.site-header__logo {
  svg {
    display: block;
  }
}

.skip-to-main {
  @include hide-visually;

  &:focus {
    @include hide-visually("unhide");
    @include position(absolute, $spacing-base null null 50%);

    background-color: $bg-color-accent;
    color: $text-color-inverse;
    font-family: $font-family-sans;
    font-weight: $font-weight-bold;
    padding: $spacing-small;
    transform: translate(-50%);
    z-index: get-z-index("ceiling");
  }
}

.icon-color {
  fill: $text-color-accent;
}

.site-header__nav {
  display: none;

  @include breakpoint("medium") {
    display: flex;
  }
}

.site-header__nav-list {
  display: flex;
}

.site-header__nav-item {
  font-family: $font-family-sans;
  font-weight: $font-weight-bold;

  &:not(:last-child) {
    margin-right: $spacing-base;
  }
}

.site-header__nav-link {
  color: $text-color-accent;

  &:hover {
    color: $text-color-base;
  }
}
