.site-menu {
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s linear;
  width: 100%;

  @include breakpoint("medium") {
    flex-direction: row;
  }

  .js-is-loaded & {
    @include hide-visually;

    opacity: 0;

    &.is-revealed {
      @include hide-visually("unhide");

      height: auto;
      min-height: 90vh;
      opacity: 1;
      overflow: visible;
      padding: $spacing-large 0;
      position: static;
      width: 100%;
    }
  }
}

.site-menu__item {
  flex: 1;
  padding: $spacing-medium;
  transform: translateY($spacing-large);
  transition: opacity 0.2s linear, transform 0.2s linear;

  .js-is-loaded & {
    opacity: 0;
  }

  .js-is-loaded .site-menu.is-revealed & {
    opacity: 1;
    transform: translateY(0);
  }

  @for $i from 1 through 2 {
    &:nth-child(#{$i}) {
      transition-delay: 0.2s * $i;
    }
  }
}

.site-menu__about {
  background-color: $bg-color-secondary;
  order: 2;

  @include breakpoint("medium") {
    order: 1;
  }

  .overline--min {
    border-bottom-color: $bg-color-tertiary;
  }
}

.site-menu__footer {
  border-top: 1px solid $bg-color-tertiary;
  margin-top: $spacing-base;
  padding-top: $spacing-base;

  cite {
    display: block;
    font-family: $font-family-sans;
    font-size: $font-size-x-small;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    margin-top: $spacing-base;
    text-transform: uppercase;
  }
}

.site-menu__nav {
  order: 1;
  position: relative;

  @include breakpoint("medium") {
    order: 2;
  }
}

.site-menu__hover-image {
  @include position(absolute, 0);

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
  transition: background-image 0.2s ease;
  z-index: get-z-index("basement");
}

.site-menu__list-item {

  &:not(:last-child) {
    margin-bottom: $spacing-medium;
  }
}

.site-menu__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: $width-small;

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-base;
    }
  }
}

.site-menu__btn {
  align-items: center;
  display: flex;

  &:hover {
    &::before {
      color: $text-color-accent;
      transform: scale(1);
    }
  }

  &::before {
    content: "\2630";
    display: block;
    margin-right: $spacing-small;
    transform: scale(0.75);
    transition: $transition-base;
  }
}

.site-menu__link {
  font-family: $font-family-display;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;

  @include breakpoint("medium") {
    font-size: $font-size-xx-large;
  }

  &:hover {
    color: $text-color-accent;
  }
}

.site-menu__link-copy {
  font-family: $font-family-sans;

  span {
    font-size: $font-size-x-small;
    margin-right: $spacing-small;
    text-transform: uppercase;

    &::after {
      content: "\2E3A";
    }
  }

  a {
    color: $text-color-base;
    font-weight: $font-weight-bold;

    &:hover {
      color: $text-color-accent;
    }
  }
}

.site-menu__social {
  display: flex;

  li {
    margin-right: $spacing-base;
  }

  a {
    display: block;

    &:hover {
      svg {
        fill: $color-offblack;
      }
    }
  }

  svg {
    display: block;
    fill: $text-color-accent;
    transition: $transition-base;
  }
}

body {

  &.menu-is-revealed {
    height: 100%;
    overflow: hidden;
    width: 100%;

    > header {
      @include position(fixed, 0);

      overflow-y: auto;
      padding: $spacing-medium $spacing-x-large;
    }

    main,
    footer {
      display: none;
    }

    .site-menu__btn {

      &::before {
        content: "\2715";
      }
    }
  }
}
