.site-nav__list {

  .js-is-loaded & {
    @include hide-visually;

    &.is-revealed {
      @include hide-visually("unhide");
    }
  }
}

.site-nav__btn {
  align-items: center;
  display: flex;

  &:hover {
    &::before {
      background-color: $bg-color-accent;
    }
  }

  &::before {
    @include size($spacing-small);

    border: 1px solid $bg-color-accent;
    border-radius: 50%;
    content: "";
    margin-right: $spacing-small;
    transition: $transition-base;
  }
}
