<!doctype html>
<!--[if IE 7 ]>    <html class='ie7'> <![endif]-->
<!--[if IE 8 ]>    <html class='ie8'> <![endif]-->
<!--[if IE 9 ]>    <html class='ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class='' lang='en'> <!--<![endif]-->

	<head>		
		{{> base/base-meta }}
		{{> base/base-head }}
		{{> base/base-favicon }}
		
	</head>
	<body>
		{{> base/base-header }}
		<main id="content">
			<div class="featured">

		<div class="tz tz--featured">
				<div class="tz__content">
				<p class="overline">First Person</p>
				<a href="#" class="tz__link">
					<h2 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h2>
				</a>
					<p class="tz__copy">When we read them, books take us away from our lives. Years later, they’re vehicles for telling our own stories.</p>
					<address class="byline">By <a href="#">Toussaint L'Overture</a></address>
				</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>


		<div class="tz tz--mid">
				<div class="tz__content">
				<p class="overline">First Person</p>
				<a href="#" class="tz__link">
					<h3 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h3>
				</a>
					<p class="tz__copy">When we read them, books take us away from our lives. Years later, they’re vehicles for telling our own stories.</p>
					<address class="byline">By <a href="#">Toussaint L'Overture</a></address>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>

		<ul class="tz__list">
			<li class="tz__item">
				<div class="tz tz--sm">
				<div class="tz__content">
					<a href="#" class="tz__link">
						<h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
					</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>
			</li>
			<li class="tz__item">
				<div class="tz tz--sm">
				<div class="tz__content">
					<a href="#" class="tz__link">
						<h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
					</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>
			</li>
			<li class="tz__item">
				<div class="tz tz--sm">
				<div class="tz__content">
					<a href="#" class="tz__link">
						<h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
					</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>
			</li>
			<li class="tz__item">
				<div class="tz tz--sm">
				<div class="tz__content">
					<a href="#" class="tz__link">
						<h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
					</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>
			</li>
			<li class="tz__item">
				<div class="tz tz--sm">
				<div class="tz__content">
					<a href="#" class="tz__link">
						<h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
					</a>
				</div>
				<a href="#" class="tz__link tz__media">
				<figure class="tz__figure">
					<picture class="tz__img">
						<!--[if IE 9]><video style='display: none;'><![endif]-->
							<source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
							<source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
							<source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
							<!--[if IE 9]></video><![endif]-->
							<img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
					</picture>
				</figure>
				</a>
		</div>
			</li>
		</ul>

	</div>
			{{> @partial-block }}
		</main>
		{{!-- {{> base/base-footer }} --}}
		{{> base/base-js }}
	</body>
</html>
