$_hero-max-height: 80vh;

.hero {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  img {
    object-fit: cover;
  }

  a {
    display: inline-block;
  }
}

.hero__content {
  @include x-y-centered;

  flex-direction: column;
  margin: 0 auto;
  padding: $spacing-medium;
}

.hero__inner {
  margin: 0 auto;
  text-align: center;

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-base;
    }
  }
}

.hero--spread {
  margin-bottom: $spacing-large;

  @include breakpoint("medium") {
    flex-direction: row;
    min-height: 90vh;

    > * {
      width: 50%;
    }
  }

  figure,
  picture,
  img {
    height: 100%;
  }

  .hero__content {
    max-width: $width-large;
  }

  .hero__inner {
    max-width: $width-small;
  }
}

.hero--fullscreen {
  margin-bottom: $spacing-large;

  @include breakpoint("medium") {
    padding: 0 $spacing-medium;
  }

  img {
    max-height: $_hero-max-height;
  }

  .hero__content {
    background-color: $bg-color-base;
    position: relative;

    @include breakpoint("medium") {
      margin-top: -($spacing-xx-large);
    }
  }

  .hero__inner {
    max-width: $width-base;
  }
}

.hero--inset {
  margin-bottom: $spacing-x-large;
  position: relative;

  .hero__media {
    position: relative;
  }

  img {
    max-height: $_hero-max-height;
  }

  .hero__content {

    @include breakpoint("medium") {
      @include position(absolute, $spacing-medium $spacing-medium $spacing-medium null)

      background-color: rgba($bg-color-base, 0.95);
    }
  }

  .hero__inner {
    max-width: $width-base;

    @include breakpoint("medium") {
      padding: $spacing-medium;
    }
  }
}

.hero__news-dek {
  padding: $spacing-base 0;

  &::before {
    border-top: 3px solid $bg-color-tertiary;
    content: "";
    display: block;
    margin: 0 auto;
    padding-bottom: $spacing-base;
    width: $spacing-xx-large;
  }
}
