.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto $spacing-large;

  img {
    object-fit: cover;
  }

  a {
    display: inline-block;
  }
}

.hero__content {
  @include x-y-centered;

  flex-direction: column;
  margin: 0 auto;
  padding: $spacing-medium;
}

.hero__inner {
  margin: 0 auto;
  text-align: center;

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-base;
    }
  }
}

.hero--spread {
  @include breakpoint("medium") {
    flex-direction: row;
    min-height: 90vh;

    > * {
      width: 50%;
    }
  }

  figure,
  picture,
  img {
    height: 100%;
  }

  .hero__content {
    max-width: $width-large;
  }

  .hero__inner {
    max-width: $width-small;
  }
}

.hero--fullscreen {
  $_hero-max-height: 80vh;

  @include breakpoint("medium") {
    padding: 0 $spacing-medium;
  }

  .hero__media {
    position: relative;

    @include breakpoint("medium") {
      &:after {
        @include position(absolute, $spacing-large (-$spacing-large) (-$spacing-large));

        border: 2px solid $bg-color-secondary;
        content: "";
        display: block;
        z-index: get-z-index("basement");
      }
    }
  }

  img {
    max-height: $_hero-max-height;
  }

  .hero__content {
    background-color: $bg-color-base;
    position: relative;

    @include breakpoint("medium") {
      margin-top: -($spacing-xx-large);
    }
  }

  .hero__inner {
    max-width: $width-base;
  }
}

.hero--homepage {
  $_hero-max-height: 100vh;

  background-color: $bg-color-gradient;
  color: $text-color-inverse;
  position: relative;

  .hero__media {
    position: relative;

    &:after {
      @include position(absolute, null 0 0);

      background-image: linear-gradient(to top, $bg-color-gradient, transparent);
      content: "";
      display: block;
      height: 100%;
    }
  }

  img {
    max-height: $_hero-max-height;
  }

  .hero__title-link {
    color: $text-color-inverse;

    &:hover {
      color: $text-color-accent;
    }
  }

  .hero__content {

    @include breakpoint("medium") {
      @include position(absolute, null 0 0);

      background-color: transparent;
      margin-top: -($spacing-x-large);
    }
  }

  .hero__inner {
    max-width: $width-base;
  }
}
