.newsletter {
  max-width: $width-base;
  padding: $spacing-base;
}

.newsletter--inline {
  background-color: $bg-color-secondary;
  margin: $spacing-base auto;
}

.newsletter--footer {
  background-color: $bg-color-base;
  border: 1px solid $bg-color-secondary;
  box-shadow: 0 0 0 10px $bg-color-base;
  margin: -$spacing-xx-large auto $spacing-base;
}

.newsletter__title {
  font-family: $font-family-display;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.newsletter__form {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include breakpoint("medium") {
    flex-direction: row;
  }

  label {
    width: 100%;

    @include breakpoint("medium") {
      width: 70%;
    }
  }

  input {
    margin-top: $spacing-small;

    .newsletter--footer & {
      background-color: $bg-color-secondary;

      &:focus {
        background-color: $bg-color-base;
      }
    }
  }

  button {
    height: $spacing-base * 3;
    width: 100%;

    @include breakpoint("medium") {
      width: 30%;
    }
  }
}
