.playlist-nav {
  @include position(fixed, null 0 0 0);

  background-color: $bg-color-base;
  border-top: 1px solid $bg-color-secondary;
  width: 100%;
  z-index: get-z-index("ceiling");
  transition: $transition-base;

  &:not([hidden]) {
    animation: slide-in 0.25s forwards;
  }
}

.playlist-nav__btn {
  display: block;
  margin: $spacing-base auto;

}

.playlist-nav__item {
  flex: 1;
  font-family: $font-family-sans;
  padding: $spacing-base;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px solid $bg-color-tertiary;
  }

  &.is-currently-reading {
    background-color: $bg-color-secondary;
  }
}

.playlist-nav__overline {
  font-size: $font-size-x-small;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.playlist-nav__link {
  font-weight: $font-weight-bold;
}

article:target {

  button[data-article-toggle-btn] {
    display: none;
  }

  div[data-article-toggle-content] {
    display: block;
  }
}

button[data-article-toggle-btn] {
  display: block;
  margin: 0 auto;

  &.is-hidden {
    display: none;
  }
}
