.share-tools {
  font-family: $font-family-sans;
  margin: 0 auto $spacing-large;
  position: relative;

  a {
    color: $text-color-accent;

    &:hover {
      color: $text-color-base;
    }

    svg {
      fill: currentColor;
    }
  }
}

.share-tools__container {
  border-top: 5px solid $bg-color-secondary;
  padding-top: $spacing-small;

  @include breakpoint("medium") {
    @include offside-column;

    border-top: 0;
  }
}

// Share tools
.share-tools__title {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin-bottom: $spacing-base;
}

.share-tools__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint("medium") {
    display: block;
  }
}

.share-tools__item {
  padding-right: $spacing-base;

  @include breakpoint("medium") {
    padding: 0;
  }

  &:not(:last-child) {
    @include breakpoint("medium") {
      border-bottom: 1px solid $bg-color-secondary;
      margin-bottom: $spacing-x-small;
      padding-bottom: $spacing-x-small;
    }
  }

  a {
    align-items: center;
    display: inline-flex;
    flex-direction: row-reverse;
  }

  svg {
    margin-right: $spacing-small;
    width: $spacing-base;
  }
}
