.tz {
  display: flex;
  flex-direction: column;

  figure,
  picture,
  img {
    height: 100%;
    object-fit: cover;
  }
}

.tz__content > * {
  &:not(:last-child) {
    margin-bottom: $spacing-base;
  }
}

.tz__content {
  order: 2;
}

.tz__link {
  display: block;

  &:hover {
    .tz__img {
      transform: scale(1.1);
    }
  }
}

.tz__img,
.tz__figure {
  transition: $transition-base;
}

.tz__figure {
  overflow: hidden;
}

// ------------------
// Tease Hierarchy
// ------------------

// Featured
.tz--featured {
  background-color: $bg-color-base;
  box-shadow: $spacing-small $spacing-small 0 0 $bg-color-tertiary;
  margin: 0 auto;
  min-height: 50vh;

  @include breakpoint("medium") {
    flex-direction: row;
    min-height: 80vh;
  }

  .tz__content {
    @include x-y-centered(flex-start);

    flex-direction: column;
    margin: 0 auto;
    max-width: $width-base;
    padding: $spacing-large;
  }
}

// Mid-size
.tz--mid {
  margin: 0 auto;
  text-align: center;

  .tz__content {
    margin: auto;
    max-width: $width-small;
    padding-top: $spacing-base;
  }

  .tz__media {
    height: 100%;
  }
}

.tz--sm {
  flex-direction: row;

  img {
    width: $width-xx-small;
  }

  .tz__media {
    margin-right: $spacing-base;
  }

  .tz__content {
    align-self: center;
  }
}
