.tz {
  display: flex;
  flex-direction: column;

  figure,
  picture,
  img {
    height: 100%;
    object-fit: cover;
  }
}

.tz__content {
  order: 2;
  text-align: center;

  > * {
    &:not(:last-child) {
      margin-bottom: $spacing-base;
    }
  }
}

.tz__link {
  display: block;

  &:hover {
    .tz__img {
      transform: scale(1.1);
    }
  }
}

.tz__img,
.tz__figure {
  transition: $transition-base;
}

.tz__figure {
  overflow: hidden;
}

// ------------------
// Tease Hierarchy
// ------------------

// Mid-size
.tz--mid {
  background-color: $bg-color-base;
  margin: 0 auto;

  .tz__content {
    margin: auto;
    max-width: $width-small;
    padding: $spacing-base;
  }

  .tz__media {
    height: 100%;
  }
}

.tz--sm {

  .tz__content {
    margin: auto;
    max-width: $width-x-small;
    padding: $spacing-base;
  }
}
