<a href="#content" class="skip-to-main">Skip to main content</a>

<header class="site-header">
  <a class="site-header__logo" href="/">
    @@include("logo.svg")
  </a>

  <nav class="site-header__nav">
    <ul class="site-header__nav-list">
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">First Person</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">Ideas</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">In the News</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">Playlists</a>
      </li>
    </ul>
  </nav>

  {{> base/base-menu }}
</header>