<button class="site-menu__btn btn--secondary" role="button" data-menu-button>Menu</button>

<section class="site-menu" data-menu-section>

  <div class="site-menu__item site-menu__about">
    <div class="site-menu__inner">
      <p class="overline--min">What is experience?</p>
      <h2>Jump in</h2>
      <p class="site-menu__copy">That’s our motto, our credo, our exhortation. Our goal is to tell stories that don’t just transport you to another place, but also inspire you to experience the different and the new. That could mean doing something you’ve always wanted to do. Understanding something you’ve always wondered about. Shifting your mindset to meet the future with confidence.
      </p>

      <div class="site-menu__footer">
        <ul class="site-menu__social">
          <li>
            <a href="#">@@include("twitter.svg")</a>
          </li>
          <li>
            <a href="#">@@include("facebook.svg")</a>
          </li>
        </ul>
        <cite>&copy; 2018 Northeastern University</cite>
      </div>
    </div>
  </div>


  <nav class="site-menu__item site-menu__nav">
    <div class="site-menu__hover-image" aria-hidden="true" style="background-image: url(/assets/images/menu-1.jpg);" data-menu-bg></div>
    <div class="site-menu__inner">
      <p class="overline--min">Explore</p>
      <ul class="site-menu__list">
        <li class="site-menu__list-item">
          <a href="/" class="site-menu__link" data-menu-link>First Person</a>
          <p class="site-menu__link-copy"><b>Water terrifies me. Here’s how I took the plunge</b> and more&hellip;</p>
        </li>
        <li class="site-menu__list-item">
          <a href="/" class="site-menu__link" data-menu-link>Ideas</a>
          <p class="site-menu__link-copy"><b>60 minutes. 150 meals. Go!</b> and more&hellip;</p>
        </li>
        <li class="site-menu__list-item">
          <a href="/" class="site-menu__link" data-menu-link>In the News</a>
          <p class="site-menu__link-copy"><b>Finding life and meaning after the war is over</b> and more&hellip;</p>
        </li>
        <li class="site-menu__list-item">
          <a href="/" class="site-menu__link" data-menu-link>Playlists</a>
          <p class="site-menu__link-copy"><b>How to pack for a trek across Antarctica</b> and more&hellip;</p>
        </li>
      </ul>
    </div>
  </nav>
</section>