<footer class="site-footer" data-site-footer>
  <nav class="site-header__nav">
    <ul class="site-header__nav-list">
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">First Person</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">Ideas</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">In the News</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">Playlists</a>
      </li>
      <li class="site-header__nav-item">
        <a class="site-header__nav-link" href="/">About</a>
      </li>
    </ul>
  </nav>
  <p>&copy; 2018 <a href="www.northeastern.edu">Northeastern University</a></p>
</footer>