<nav class="site-nav">
  <button class="site-nav__btn btn--secondary" role="button" data-nav-button>Menu</button>

  <ul class="site-nav__list" data-nav-list>
    <li class="site-nav__item">
      <a href="/" class="site-nav__link">Playlists</a>
    </li>
    <li class="site-nav__item">
      <a href="/" class="site-nav__link">Right Now</a>
    </li>
    <li class="site-nav__item">
      <a href="/" class="site-nav__link">Ideas</a>
    </li>
    <li class="site-nav__item">
      <a href="/" class="site-nav__link">First Person</a>
    </li>
  </ul>
</nav>