<a href="#content" class="skip-to-main">Skip to main content</a>

<header class="site-header">
  <a class="site-header__logo" href="/">
    @@include("logo.svg")
  </a>

  {{> base/base-nav }}
</header>