<footer class="site-footer" data-site-footer>
  {{> modules/newsletter footer=true}}

  <div class="site-footer__inner">
    <a class="site-header__logo" href="/">
      @@include("logo.svg")
    </a>
    <ul class="site-footer__social">
      <li>
        <a href="#">@@include("instagram.svg")</a>
      </li>
      <li>
        <a href="#">@@include("twitter.svg")</a>
      </li>
      <li>
        <a href="#">@@include("facebook.svg")</a>
      </li>
    </ul>
  </div>

  <div class="site-footer__inner">
    <nav class="site-footer__nav">
      <ul class="site-footer__nav-list">
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">Our Mission</a>
        </li>
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">Staff</a>
        </li>
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="site-footer__bottom">
    <nav class="site-footer__nav">
      <ul class="site-footer__nav-list">
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">First Person</a>
        </li>
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">Ideas</a>
        </li>
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">In the News</a>
        </li>
        <li class="site-footer__nav-item">
          <a class="site-footer__nav-link" href="/">Playlists</a>
        </li>
      </ul>
    </nav>
    <small>&copy; 2018 <a href="www.northeastern.edu">Northeastern University</a></small>
  </div>
</footer>