<button class="site-menu__btn btn--secondary" role="button" data-menu-button>@@include("menu.svg") @@include("close.svg")</button>

<section class="site-menu site-about" data-menu-section>

  <div class="site-menu__item site-about__item site-about__copy">
    <div class="site-about__inner">
      <p class="overline--min">What is experience?</p>
      <h2>Jump in</h2>
      <p class="site-about__copy-item">That’s our motto, our credo, our exhortation. Experience is a digital magazine that examines the power of experience to spark ideas, solve problems, transform industries, and drive personal growth. Our stories will invite readers to understand the experiences of others, challenge assumptions, and break through the bubbles that too often persist in culture and civic life.
      </p>

      <p class="site-about__copy-item">Because these goals are universal, we won’t categorize our stories by topic as many magazines do. Instead, we’ll order them by entry point: <a href="">first-person</a> essays and immersive videos; deeply-reported examinations of <a href="">ideas</a>; surprising takes on experience <a href="">in the news</a>. We’ll reassemble stories into <a href="">playlists</a> that explore variations on a common theme &mdash; be it reinvention, conquering fear, or adjusting to technology. Through it all, we’ll promote a spirit of doing, growing, taking leaps, and embracing the new.
      </p>

      <p class="site-about__copy-item">The philosophy at the heart of Experience is the same one that powers our sponsor, Northeastern University, a global leader in experiential learning: That education should be a lifelong endeavor, and that the best way to gain insight is through&hellip; experience. 
      </p>

      <div class="site-about__footer">
        <ul class="site-about__social">
          <li>
            <a href="#">@@include("twitter.svg")</a>
          </li>
          <li>
            <a href="#">@@include("facebook.svg")</a>
          </li>
        </ul>
        <cite>&copy; 2018 Northeastern University</cite>
      </div>
    </div>
  </div>

  <nav class="site-menu__item site-about__item site-menu__nav">
    <div class="site-about__hover-image" aria-hidden="true" style="background-image: url(/assets/images/menu-1.jpg);" data-menu-bg></div>
    <div class="site-about__inner">
      <p class="overline--min">Explore</p>
      <ul class="site-about__list">
        <li class="site-about__list-item">
          <a href="/" class="site-about__link" data-menu-link>First Person</a>
          <p class="site-about__link-copy">Vicarious experiences</p>
        </li>
        <li class="site-about__list-item">
          <a href="/" class="site-about__link" data-menu-link>Ideas</a>
          <p class="site-about__link-copy">People, trends, tales</p>
        </li>
        <li class="site-about__list-item">
          <a href="/" class="site-about__link" data-menu-link>In the News</a>
          <p class="site-about__link-copy">The latest from Experience</p>
        </li>
        <li class="site-about__list-item">
          <a href="/" class="site-about__link" data-menu-link>Playlists</a>
          <p class="site-about__link-copy">Reinvention</p>
        </li>
      </ul>
    </div>
  </nav>
</section>