<section class="article-content">

  {{> modules/share-tools }}

  <p><b>Where do you come up with your best ideas?</b> I’m not sure that it’s so location oriented, but sometimes during a creative streak I take a lot of baths.</p>

  <p><b>What is the best non-material gift you’ve received?</b> Poetry.</p>

  <p><b>What is the best non-material gift you’ve given?</b> Poetry</p>

  <p><b>What is the biggest challenge you’ve faced?</b> Oh, man. Well, moving away from the darker categories, packing up a house of wife and five kids was pretty intense the first time, piece of cake the next time.</p>

  <p><b>If you had to choose a different profession, what would you do?</b> a painter, oil</p>

  <p><b>What is the most useful mistake you’ve made?</b> oh every record I’ve made probably has at least a dozen. I suppose the realization that mistakes are part of the creative process is a pretty useful thing that happens when you have a mistake. It never ceases to impress me.</p>


  <p><b>What’s the strangest experience you’ve had?</b> silent slo-mo silver rocket UFO above the yard; my brother and I were at play; we were young; we never discussed for years but when we did as adults the memory was all there in shocking detail.</p>

  <figure class="img">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
      </picture>
      <figcaption>Ladies Rock Camp co-founder and program director, "You’re a natural revolutionary just by being female and living in this world. Why? Because guess who made up the rules."</figcaption>
  </figure>


  <p><b>What opportunity do you regret passing up?</b> going to a backstage party that ringo was supposed to be at; I suddenly decieded it was too intense to meet a beatle so I walked the other way; I fully regret that decision.</p>

  <p><b>How do you relax?</b> painting mostly, oil</p>

  <p><b>If you could go anywhere in the world tomorrow, where would you go?</b> Paris, of course; I can get to anywhere else in France from there easily enough.</p>

  <p><b>What is your most indelible childhood memory?</b> getting a perfumed letter from a pitsy trachtenburg in the 6th grade after I had moved away.</p>

  <p><b>Describe a perfect day.</b> sex, coffee, pot, painting, wine, sex, more pot maybe? Richard Harris film to send me off to Nod.</p>

  {{> modules/newsletter }}

  <p><b>When you’re stuck how do you get unstuck?</b> oh, Jesus Mary N Joseph. Ain’t that the million dollar question? So far only time works. And painting, oil.</p>

  <p><b>What is your proudest moment?</b> probably performing at the Hollywood bowl; When I was a kid I often listened to the Beatles live at the Hollywood bowl. I think we sold it out, too.</p>


  <p><b>What would you like to experience before you die?</b> shark cage sounds pretty good.</p>

  <div class="author-bio">
    <p><a href="#">Joan Anderman</a> is something about here goes right here just like this.</p>
    <p><a href="#">Gretchen Ertl</a> is something about here goes right here just like this.</p>
  </div>

  {{> modules/discuss-cta }}

</section>