<section class="article-content" data-article-content>

  {{> modules/share-tools }}

  <p>Carolyn Zagame doesn’t want to be here, at Spontaneous Celebrations, a scruffy community arts center in the Boston neighborhood of Jamaica Plain. She wanders glassy-eyed past the baskets of pronoun buttons and plastic tubs of earplugs and a banner screaming <strong>TEAR THE PATRIARCHY DOWN</strong>, her long down coat zipped tight, praying for the energy to get through this. Normally on a Friday morning she would be puttering at home, chatting on the phone, reading the Bible. But her daughter Ali begged and cajoled for nearly a year, and Zagame finally caved. She can’t deny her daughter anything. That’s why, instead of tending to familiar tasks in her small town on the banks of the Nashua River, Zagame is entering the bubble.</p>

  <h5 class="crosshed">A crosshed here</h5>
  <p>No one quite knows how to talk about the bubble, how to make peace with the idea of it, because bubbles are bad news. Political bubbles, social media bubbles, work and school bubbles, we are in them &mdash; swimming in a sea of sameness, fingers in our ears to block out the noise of competing ideas and uncomfortable truths. But the Ladies Rock Camp bubble is different. To begin with, it’s noisy as fuck, and “fuck,” by far the most popular word here, is generally uttered in unison at high volume to describe the proper response to the status quo. In this bubble, there is no such thing as a bad idea, or a mistake, or a rule. Uncomfortable truths are received with open arms and more Cheese Balls than you can imagine. Everyone here &mdash; and this may be the most bubbilicious thing about it &mdash; is free to be herself. Going back to real life after a long weekend in the bubble can be weird and hard, but it’s also the point: not to keep the rest of the world at bay, but to expand the bubble, to make it bigger and bigger until the whole world is in it.</p>

  <p>But first, rock and roll. Technically, it’s what everyone signed up for. Between Friday morning and Sunday night 43 women, no music experience required, will form bands, learn an instrument, write a song, and perform it in front of a packed house at a nightclub. That’s 72 hours from newbie to headliner. In my long career writing about music, it is among the most punk rock things I’ve witnessed.</p>

  <figure class="media media--full layout-multi">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-3_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-3_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-3_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-3_placeholder.jpg" data-srcset="/assets/images/article-1-3_placeholder.jpg" alt="">
      </picture>
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-4_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-4_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-4_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-4_placeholder.jpg" data-srcset="/assets/images/article-1-4_placeholder.jpg" alt="">
      </picture>
      <picture class="layout-multi__large">
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-2_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-2_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-2_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-2_placeholder.jpg" data-srcset="/assets/images/article-1-2_placeholder.jpg" alt="">
      </picture>
      <div class="media media--full__caption">
      <cite>Person / Credit</cite>
      <figcaption>Pretty much every inch of the community center has been refashioned into a clubhouse/playground/shrine to rock and roll.</figcaption>
      </div>
    </figure>

  <p>Some quick transition that gives us the idea that while punk rock is an attitude, it also involves some degree of intention: You have to know what you want, and also how to get there. So in a formal sense, a large part of this weekend is dedicated to instruction - and in the blissful creation of a setting that makes instruction feel like a spiritual act. Pretty much every inch of the community center has been refashioned into a clubhouse/playground/shrine to rock and roll, generally, and female rockers, specifically. The cavernous upper floor, dubbed the Rock Room, is ringed with drum kits and plastered ceiling to floor with photos of female musicians, from Billie Holiday to Blondie to Bjork to Taylor Swift. Every few feet a hand-scrawled genre sign is tacked to the wall: FOLK, METAL, INDIE, RAP, GOTH, GLAM, NEW WAVE, COUNTRY, GARAGE, NOISE, TECHNO, POP, PUNK. Posters in iris-searing shades of pink and yellow have been placed ad hoc throughout the center; there’s one balancing on the back of a sofa, one stashed against a speaker, one teetering on an easel, beaming out the program’s slogans and chants and mission statements. It’s as if a zine came to life and we are spending the weekend in it.</p>

  <hr />

  <p>In the main floor, renamed the Jungle Room, someone has hung a heavy plastic sheet to bisect the space, creating the Bass Cave. Vocal instruction happens in a glorified closet while campers who signed up for keyboard get to hang out in a light-drenched art studio. As far as I can tell this is the only form of injustice at Ladies Rock Camp. The basement &mdash; reached by traipsing through cramped office, descending a steep staircase, and body slamming a meat-locker-style door &mdash; is a warren of tiny, freezing practice rooms. All three floors are bursting with donated gear, in clusters, stacks, and mounds: dozens of amps, cables, drums, pedals, power strips, microphones, Midi controllers, instruments, picks, sticks, cymbal bags, finger tape, everything 85 campers and volunteers will need for a three-day music intensive.</p>

  <p>Except that this isn’t only a music intensive. It might not even primarily be a music intensive. It’s a feminist organization disguised as a music program. They’re not doing this to turn out rock stars; they’re using rock and roll as a vehicle. The idea is to give women (including trans and gender non-conforming participants) an experience that hinges on risk-taking and rewards self-expression and rejects the notion of perfection. An experience like rock and roll.</p>

  <p>And maybe something that puts an even finer point on it? There’s something about the use of music &mdash; the way these women are forced, and are forcing themselves, to do something this difficult and bold and public &mdash; that makes Ladies Rock Camp feel different from the panel discussions and Lean In support groups and Twitter hashtags and other shit we do to make ourselves feel like part of some primal feminist circle. You want something really primal? Try punk rock, baby.</p>

  <figure class="media media--full">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
      </picture>
      <figcaption>Ladies Rock Camp co-founder and program director, "You’re a natural revolutionary just by being female and living in this world. Why? Because guess who made up the rules."</figcaption>
    </figure>

  <p>You’re a natural revolutionary just by being female and living in this world. Why? Because guess who made up the rules. Yeah, that’s right. That’s Hilken Mancini, the co-founder and program director, speaking at the morning assembly (or whatever). We wake up every day, we go to our jobs, feed our kids, walk our dogs, and we don’t really think about it all the time, but we’re punk rock just by being alive. None of this would work without her. She paces the Rock Room, clipboard in hand, words tumbling out by the fistful. Punk isn’t a purple mohawk and ripped fishnets, punk is thinking for yourself. It’s looking at the status quo and going no thanks, I don’t want that, I’m going to do it this way. That’s a really hard thing to do. Picture the silliest combination of clothes you can imagine. Pink tights and gym shorts. A few shirts. Unmatched knee socks and a bedazzled fanny pack. That’s what she’s wearing. It’s hard because we have been living it for a very long time, and it’s hard to see in your everyday life that you’re not supposed to look like anything, you’re not supposed to do anything, you’re not supposed to be this thing that they put on you every day.</p>

  <p>You’re a natural revolutionary just by being female and living in this world. Why? Because guess who made up the rules. Yeah, that’s right. That’s Hilken Mancini, the co-founder and program director, speaking at the morning assembly (or whatever). We wake up every day, we go to our jobs, feed our kids, walk our dogs, and we don’t really think about it all the time, but we’re punk rock just by being alive. None of this would work without her. She paces the Rock Room, clipboard in hand, words tumbling out by the fistful. Punk isn’t a purple mohawk and ripped fishnets, punk is thinking for yourself. It’s looking at the status quo and going no thanks, I don’t want that, I’m going to do it this way. That’s a really hard thing to do. Picture the silliest combination of clothes you can imagine. Pink tights and gym shorts. A few shirts. Unmatched knee socks and a bedazzled fanny pack. That’s what she’s wearing. It’s hard because we have been living it for a very long time, and it’s hard to see in your everyday life that you’re not supposed to look like anything, you’re not supposed to do anything, you’re not supposed to be this thing that they put on you every day.</p>

  <hr />

  <p>Full disclosure: in early 2016 I received an email from Mancini, whom I knew casually from covering the local music scene as rock critic for the Boston Globe. A band coach for the upcoming session had to drop out at the last minute and they were looking for someone to replace her. She wondered if I was interested and available. It seemed like a bad joke. I had formed my first band just two years previously, at the age of 56. I was learning to play guitar, figuring out how to write songs, grappling with stage fright and many of the questions Ladies Rock Camp tries to answer in the loud-as-fuck affirmative: do I have the right to make noise and be imperfect and be myself?</p>

  <p>I also worried that, as a critic, I wouldn’t be able to conjure the unbridled support that is a pillar of Ladies Rock Camp. I couldn’t even say that I believed, as one of Mancini’s foundational slogans goes, that every shriek, every chord, is awesome. What if it’s just cheerleading? As it turns out, I am a believer, and the only reason I even know it is because I entered the bubble that spring, and the next one and the one after that, where I experienced firsthand the transformational power of conviction.</p>

  <p>At morning assembly on first day of session, each of the campers, seated in a large circle on the floor of the Rock Room, answer the question “Why are you here?”</p>

  <blockquote class="bq bq--sm">
    <p>I’ve been wanting to sing in a band since I was a kid.</p>

    <p>I’m here because I get the message every day that I’m not good enough.</p>

    <p>My BFF said it was life-changing and that you’re not the same person when you walk out.</p>

    <p>I’m nervous all the time.</p>

    <p>I turned a big age this year and I want to get way way way way out of my comfort zone.</p>

    <p>I’m a perfectionist and I’m here so I don’t have to be.</p>

    <p>I’m here for the sixth time because the world is a toilet and for three days I can pretend it’s not.</p>

    <p>I said to my friend that if Girls Rock Camp had existed when I was young my life would be so different. She said it can be different now.</p>
  </blockquote>

  <figure class="media media--full">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-6_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-6_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-6_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-6_placeholder.jpg" data-srcset="/assets/images/article-1-6_placeholder.jpg" alt="">
      </picture>
      <figcaption>Carolyn Zagame at a band meeting.</figcaption>
    </figure>

  <p>Once upon a time Carolyn Zagame had grit in spades. She lived in a roach-infested apartment in Brighton while attending Boston College, studied hard and graduated with honors, and started moving up the corporate ladder, dreaming of the penthouse she would one day buy for herself. Zagame was a young sales manager at a company that made fiber optic products for turbine planes when her boss began sexually harassing her. Two weeks after being summoned to his hotel room on a business trip &mdash; it didn’t go well, Zagame says &mdash; she was laid off. Her self-esteem tanked and her mother’s words, the drumbeat of a generation, returned with crushing force. “‘Don’t worry about brains, you’re small and you’re pretty, you’ll find a husband to take care of you.’ That’s what she told me all my life.”</p>
  
  <p>And that’s what Zagame wound up doing. She never returned to the workplace, finding meaning motherhood and her faith, which she embraced 16 years ago. The feelings of worthlessness that derailed Zagame’s professional career were long gone, or so she thought. Then she became the keyboard player in Fallen Petals.</p>

  <h5 class="crosshed">A crosshead. Only some stories have them.</h5>
  <p>The mechanics of band formation is confounding. It involves a lot of milling about. To begin, campers are instructed to stand under the genre sign that best represents their favorite music. Then they’re told to walk to their second favorite genre. For a while all bodies are in motion, bouncing in slo-mo off the walls of the Rock Room, clumping and dispersing like electrons following the mysterious law of musical attraction. You can see women changing their minds, weighing their tastes, second-guessing decades of fandom. As the mood grows more confused, the women are specifically instructed to not freak out. There are nine drummers in the room; shortly there will be nine new bands in the world. Each will spend the weekend with a pair of coaches, who are also wandering around the Rock Room in pre-determined teams, waiting for a look or a vibe or a random act of proximity to match them with their charges.</p>

  <p>Grace Buchanan, who is 50, looks significantly less alarmed than some of the other first-timers, perhaps because she is especially pumped, or because she has done crazy things before, like enrolling in comedy school for the sole purpose of surviving the end of her marriage. A software architect with tattooed calves and a graying pompadour, she describes herself as “a bit outgoing,” which is like saying Bikini Kill is a bit punk. Like many of the women here, Buchanan learned about LRC from a friend who went and wouldn’t shut up about it. Buchanan played French horn and trombone in high school, but these days she gets her kicks singing along to Erasure and Eurythmics, so she signed up to do vocals at camp.</p>

  <p>Here’s how Buchanan describes the process: “I stood between GARAGE and GLAM for a while and then I walked around looking for 80s ALTERNATIVE or 70s ROCK and a few other women were nearby and then someone came up to me and said ‘do you want to sing in our band?’ and suddenly I was like ‘what is happening?’”</p>

  <figure class="media media--full">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-7_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-7_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-7_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-7_placeholder.jpg" data-srcset="/assets/images/article-1-7_placeholder.jpg" alt="">
      </picture>
      <figcaption>Carolyn Zagame at a band meeting.</figcaption>
    </figure>

  <p>That’s the way things unfold at camp: fast. There isn’t much time to stress over details and decisions, thankfully, because while Buchanan is a whiz at running a meeting of engineers- she has had no experience whatsoever crafting an anthem. Half an hour after band formation, the five members of the newly-constituted Girl Skull are huddled in a corner of the Jungle Room having their first Quiet Band Practice &mdash; when groups make whatever progress they can without plugging in. One of their coaches, Buchanan later recalls, started the ball rolling by leading them in “a mind meld mapping thing to figure out what we wanted to say. We had been talking about how few women there are in metal, and the shit they go through, and the common thread was how we don’t want the next generation of girls to have to go through that. One of my bandmates said we need to kick the door open. And I was like, yes. That.”</p>
  
  <h5 class="crosshed">A crosshed here</h5>
  <p>Rock is really dumb, or it can be. Also: coarse, plain, raw, wanton, blunt, and rough. The 10,000 hours of practice we’re told is requisite to becoming a master in any field simply doesn’t apply. That’s not to say there aren’t virtuosic practitioners who make rock music of the highest artistic caliber, only that there are other ways to be great. That’s because in rock there’s one thing that matters more than cunning or speed or experience or precision, and that’s conviction.</p>

  <p>With a little more than 48 hours to go before the campers will be on stage performing songs they haven’t written on instruments they don’t know how to play, Boston-based tunesmith Merrie Amsterburg is in the Jungle Room delivering a laid-back masterclass in songwriting. All you need, she explains, scratching at her guitar, is three chords and a lot of attitude. Heads start nodding. That song is so familiar. Campers are on the edge of their folding chairs. Amsterburg starts singing in her otherworldly soprano.</p>

  <blockquote class="bq bq--sm">
    <p>I saw him dancin’ there by the record machine</p>
    <p>I knew he musta been about seventeen</p>
    <p>The beat was goin’ strong</p>
    <p>Playin’ my favorite song.</p>
  </blockquote>

  <p>By the time she gets to the chorus everyone in the room is singing along, including Carolyn Zagame, who has tiptoed from the back row to the front. She knows all the words.</p>
  
  <blockquote class="bq bq--sm">
    <p>I love rock ’n roll</p>
    <p>Put another dime in the jukebox, baby</p>
    <p>I love rock ’n roll</p>
    <p>So come an’ take your time an’ dance with me.</p>
  </blockquote>
  
  <p>Actually, Amsterburg goes on, all you need is two chords. Wait. What?</p>
  
  <blockquote class="bq bq--sm">
    <p>Now here you go again</p>
    <p>You say you want your freedom</p>
    <p>Well who am I to keep you down</p>
    <p>It’s only right that you should play the way you feel it</p>
    <p>But listen carefully to the sound/Of your loneliness</p>
    <p>Like a heartbeat drives you mad&hellip;</p>
  </blockquote>
  
  <p>Big smiles. Big surprise. The songs we love, massive hits by Joan Jett and Fleetwood Mac, are suddenly outed as simple, so simple anyone could do it. But wait, there’s more, that is, there’s less. There’s “Joy”, a song by Lucinda Williams made of one chord and a boatload of grit.</p>

  <blockquote class="bq bq--sm">
    <p>I don’t want you anymore</p>
    <p>Cause you took my joy</p>
    <p>I don’t want you anymore</p>
    <p>Cause you took my joy</p>
    <p>You took my joy</p>
    <p>I want it back</p>
    <p>You took my joy</p>
    <p>I want it back.</p>
  </blockquote>

  <p>Mancini, who is 48, thought she would be a dancer. She attended ballet class every day after school in her hometown of Syracuse, NY, and fell so in love with musical theater she missed her high school graduation to dance in a production of “Hello Dolly.” Mancini’s parents, traditionalists with an arty streak, encouraged her to follow her dreams but also to be a good girl. A college degree seemed like the smart move. But midway through her sophomore year at Boston Conservatory, Mancini, a rock fan who was spending more and more time in the local clubs, traded her toe shoes for a guitar. What she lacked in know-how she made up in zealotry. She dropped out of school, bleached her hair, and started working at Tower Records, where she met Chris Toppin, another aspiring musician. In the early ‘90s the two women started Fuzzy, one of the celebrated bands to come out of Boston’s alt-rock scene, and Mancini began a serious relationship with Fuzzy’s bass player, Winston Braman. They bought a home and built a life. With an artist named Maura Jasper, she created Punk Rock Aerobics - a fitness regime for anyone who was ever picked last for kickball, according to the companion book.</p>

  <blockquote class="bq bq--feature">
    <p data-share-text="share-1">In rock there’s one thing that matters more than cunning or speed or experience or precision, and that’s conviction.</p>

    <a href="#" class="btn--tweet btn--primary" data-share-btn="share-1">@@include("twitter.svg") Tweet this quote</a>
  </blockquote>

  <p>Fast forward 13 years. Mancini is 35. Braman leaves her. “I was freaked out. I knew I wasn’t going to have a baby and a normal life but it felt weird and awful to say goodbye to all that.” Then Jasper split, too, and Punk Rock Aerobics imploded. “It was a really hard time. I was feeling pretty crazy. Then I went to girls rock camp in Portland and it blew my mind.”</p>

  <p>Chance, destiny, karma, call it what you will: timing is everything. As Mancini’s life was falling apart, organizers at the <sup class="article-content__anno-btn" data-anno-btn>Rock ’n’ Roll Camp for Girls</sup> <cite class="article-content__anno-copy" data-anno-copy>The camp grew out of founder Misty McElroy's project as a women's studies major at Portland State University. There are now Girls Rock Camps in <a href="https://www.girlsrockcampalliance.org/">more than 40 American cities</a>.</cite> in Portland, Oregon &mdash; the first of its kind, founded in 2001 &mdash; contacted her about bringing Punk Rock Aerobics to their summer program. So away she went, in emotional tatters, into a community of women who fortified her with the sheer force of their radical support. They wanted Mancini to run assemblies. She said no way. She couldn’t. She didn’t even know their theme song. She would definitely throw up. The night before camp started, Mancini was handed a script and told she would be fine. “85 girls were coming the next day so I did it, because that’s the ethos. I believe in you. I believe in you. I started to be, like, I can do this in Boston.”</p>

  <p>Coincidentally, another East Coaster had travelled across the country to be at the camp: a college student from Somerville named Nora Allen-Wiles, who was doing a summer internship. Under strict orders not to party with the interns, Mancini invited Allen-Wiles to lunch and, despite a nearly two decade age difference, they bonded instantly. The following summer, both returned as volunteers and grew still closer. Mancini and Allen-Wiles were an odd couple &mdash; the seasoned rock and roller and the administrative whiz kid &mdash; but between the two of them they had a full rock camp tool kit. They seriously tossed around the idea of starting a rock camp back home but everyone was too busy, Mancini with two new bands and her vintage clothing store, 40 South Street, Allen-Wiles with her studies and non-profit work.</p>

  <figure class="media media--full">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-8_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-8_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-8_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-8_placeholder.jpg" data-srcset="/assets/images/article-1-8_placeholder.jpg" alt="">
      </picture>
      <figcaption>Zagame at practice, “Is it F, 1, 2, 3, 4 or F, 2, 3, 4? This is challenging for me, you guys! I don’t want to screw you up!”</figcaption>
    </figure>

  <p>On Saturday, during Loud Band Practice, Zagame and her bandmates in Fallen Petals are working through “My Baby Makes Me Feel Like Spring,” the bouncy retro-pop song they’re writing. The group scored Studio B, the art room, for their practice space, and they’re spread out in a semi-circle, wrestling with the song’s structure. Does it need another section? Should they pause at the end of the chorus? By this time the campers have been to two (of three) Instrument Instruction sessions. LRC curriculum is designed to arm novices with the rudimentary tools to write a part for their song - choose a few notes or chords, make up a melody, bash out a beat - and also explore more sophisticated ideas like using effects pedals and reading tabs, for campers with some music experience. Zagame falls into the first group (so, as it sometimes happens at camp, does every other member of Fallen Petals). She’s learned the basic anatomy of a keyboard, how to turn it on and adjust the volume, and some basic theory, like the difference between major and minor and the moods they create. Each key on her keyboard is covered with a piece of tape naming the notes. She plays three of them in “My Baby Makes Me Feel Like Spring”: C, G, and F. The problem is counting, and she can’t seem to get it straight. “Is it F, 1, 2, 3, 4 or F, 2, 3, 4? This is challenging for me, you guys! I don’t want to screw you up!”</p>

  <p>Despite her reticence to come to camp, Zagame is all in. Cheerful is clearly her baseline, and in a community that skews toward the fluid and the pierced, she is the unlikely life of the party &mdash; piping up, joining in, and dancing up a storm during evening parties in her favorite beige sweater and unironic mom jeans. But while Zagame’s demeanor is jocular, there’s a frantic undertow to her efforts today. “You guys are so cool!” she keeps saying. “I’m just trying to survive over here!” Zagame grabs a tambourine and shakes it over her head. “Maybe your coolness will rub off on me!” The band coaches have seen it before. Saturday afternoon is when things start feeling real, when the fun idea of Ladies Rock Camp morphs into the alarming realization that tomorrow is show day. JC and Mona, Fallen Petal’s coaches, are doing everything they can to be supportive: holding up a giant tablet with the song’s words and chords written in thick marker, loudly counting out each measure, gesticulating at transitions. A couple of instrument instructors, alerted via LRC’s loose but effective chain of communication that someone needs extra help, pop in to offer a few pointers. Practice is almost over and the band decides to play the whole song though without stopping. JC and Mona station themselves on either side of the keyboard, one holding up fingers to count beats and the other calling out the names of the notes. It’s rough going, and not just for Zagame. When they finish, the keyboardist bursts into tears. I’m sorry.</p>

  <p>Saying I’m sorry at Ladies Rock Camp is like quaffing beer at an AA meeting. Mancini has developed slogans and chants in an effort to cure the campers, not to mention the coaches and instructors and administrators and, truth be told, herself, i.e. all of womanhood, of the knee-jerk impulse to apologize for their mistakes, which, you’ll recall, theoretically, don’t exist here. But of course they do, which brings us to Power Pose.</p>

  {{> modules/audio }}
  <p>When you’re on stage there are gonna be things you’re worried about. We’re gathered in the Rock Room at Saturday assembly. Making a mistake. Am I gonna be good enough? Can I do this? I’m uncomfortable in my body. <sup class="article-content__anno-btn" data-anno-btn>That’s why we’re gonna play Power Pose.</sup> <cite class="article-content__anno-copy" data-anno-copy>A 2010 study co-authored by Harvard University psychologist Amy Cuddy and popularized in <a href="https://www.ted.com/talks/amy_cuddy_your_body_language_shapes_who_you_are">a blockbuster TED talk</a>, found certain physical stances can lead to changes in body chemistry that boost confidence.</cite> Mancini plays this game with the young campers are Girls Rock Camp, too. It comes in handy at all ages. All our lives, whenever we do anything wrong, we’re so apologetic for making a mistake, for taking up space, we’re like ‘Oh my god, I’m so sorry!’ Her voice sails up into ultra femme range on that last part. I do it all the time. I walk out my apartment door and I’m holding laundry and there’s some dude in front of me and I get out of his way and say I’m sorry. But I’m not sorry for living and breathing and walking out my door. How many of you are nervous about making a mistake? Queasy laughter ripples across the room. Yeah. How many of you are nervous about disappointing your band? Murmurs of assent. Of course. We all feel that way. But we don’t care if you make a mistake. We love you when you when make a mistake. If you drop that pick, roll into it. Mancini pulls a pick from her pocket, flings it to the ground, and tucks into an awkward somersault. If you drop a drumstick, jump over your kit. She leaps over an imaginary drum. Boys get that from the start. Go for it, run, fall, scream, spit, sweat. We’re told to stand up straight and get good grades. Her pacing has grown purposeful. More like stalking. I want you to make that mistake bigger. Be our heroes, for our girls and for each other. I want you to find the pose that makes you feel comfortable and good. I don’t care what it is. Stand up.</p>

  {{> modules/newsletter }}

  <p>Although no one could have predicted it, one of the things that makes this high-wire act work is the preponderance of return campers. They are, number one, walking proof of concept. It’s not uncommon to hear them talk about LRC as the thing they most look forward to all year. Sometimes campers come back as volunteers and sometimes volunteers return as campers. Word spreads. Friends tell their friends, who typically resist, because it’s not their thing, they’re not musical, can’t even carry a tune, but the friend tells them it doesn’t matter, not at all, and eventually convince them they’ll be blowing it big time if they don’t take a chance, it’s three days out of your life, so they sign up. On paper, it sounds like serious clique potential. But in reality, return campers scatter like seeds, forming a spidery core that seems to stabilize the emotional and creative chaos first-timers often experience.</p>

  <p>The mission-critical attitude that Merrie Amsterburg talks about in her songwriting workshop, the one that allows scrappy punk bands to take the world by storm, Grace Buchanan has got it. Once Girl Skull stumbled onto the idea of kicking the door open, “I barfed up those lyrics and 15 minutes later we had the song.” For the next two days, “Kick the Door Open (For the Girls Behind)” drifts under the door of Studio D, down in the basement, getting louder and charging harder by the hour.</p>
  
  <blockquote class="bq bq--sm">
    <p>Measure the ankles, the calves, the thighs</p>
    <p>Don’t eat anything that will alter your size</p>
    <p>Don’t be loud, don’t be strong</p>
    <p>If you’re not docile then you’re just plain wrong.</p>
  </blockquote>
  
  <p>A little voice in Buchanan’s head is growing louder, too. It’s her mother’s voice, telling her this isn’t the kind of music she should be singing. “This is her worst nightmare, me in a black t-shirt shrieking in a band,” Buchanan says, and as soon as she realized it “I decided to sing this song for her.” The sounds emanating from all the practice rooms are building, ineffably, not toward something finished or polished, but with a collective energy that feels closer to faith. Remember the levitation game that was popular at children’s slumber parties, where a kid lays flat on the floor and the others place one or two fingertips underneath her limbs chanting light as a feather, stiff as a board, over and over, until the prone body, miraculously weightless, is lifted off the ground? That kind of faith.</p>

  <figure class="media media--full">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-10_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-10_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-10_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-10_placeholder.jpg" data-srcset="/assets/images/article-1-10_placeholder.jpg" alt="">
      </picture>
      <figcaption>Zagame has another meltdown, up in the Rock Room. In a flash she’s surrounded by a handful of campers and coaches and someone goes off to fetch Zagame’s daughter, Ali, who joins the huddle.</figcaption>
    </figure>

  <p>Even as it deepens faith is tested, as it must be if we’re to recognize its power. Is the body still too heavy to lift? Keep chanting. The self-doubt that Carolyn Zagame figured was ancient history has returned with a vengeance. At practice, she lowers her head and through tears she recites a checklist. “I’m just worried I’m gonna look so stupid up there. I really do like the shadows. I never wanted to be on stage.” She looks ready to bail, at least for a breather, maybe forever, but Zagame agrees to run the tune one more time before breaking to attend one of the afternoon workshops (Rebel Yell Yoga, Conquering the Stage, and DIY Music Creation). Despite the emotional turmoil, or possibly because of it, the players are looking at each other instead of at their own hands while playing, a risk that pays off. The song is sort of hanging together. This is no small feat; everyone is struggling to remember their parts and keep the tempo. As if on cue, a volunteer pokes her head in the door and apologizes for barging in but she was wandering by and just had to tell them how happy the song made her feel. Cheers all around. Zagame steps out from behind her keyboard and gives each of her bandmates a big hug.</p>

  <p>Temporarily restored, she heads off to yoga, but a couple of hours later, between the workshops and dinner, Zagame has another meltdown, up in the Rock Room. It comes out of nowhere. In a flash she’s surrounded by a handful of campers and coaches and someone goes off to fetch Zagame’s daughter, Ali, who joins the huddle. The circle around Zagame grows closer and tighter until it is quite literally unbroken. That night, after Mexican food, there’s a surprise dress rehearsal, when each of the bands performs its song on stage in the Rock Room for what is without a doubt the most adoring audience in the history of rock shows. During Fallen Petals’ performance, Ali is at the lip of the stage with her mouth hanging open, snapping pictures. After they finish, Fallen Petals, like all the bands, exits the stage to ear-splitting shouts of “Holy shit! Holy shit! Holy shit!” and Zagame, looking stunned, falls into her daughter’s arms. It’s been a day. But instead of returning to her hotel as planned, she commandeers the Saturday night dance party. Nobody can believe their eyes when Zagame drops to her knees and launches into an impromptu Kazatsky, the famous Russian folk dance, squatting and kicking with her arms folded in front of her. The room explodes, in shock, in delight, with the knowledge that badasses walk among us, even if we can’t see them. Even if she can’t see herself.</p>

  <figure class="media media--full layout-multi">
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-11_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-11_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-11_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-11_placeholder.jpg" data-srcset="/assets/images/article-1-11_placeholder.jpg" alt="">
      </picture>
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-12_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-12_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-12_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-12_placeholder.jpg" data-srcset="/assets/images/article-1-12_placeholder.jpg" alt="">
      </picture>
      <figcaption>Carolyn Zagame drops to her knees and launches into an impromptu Kazatsky, the famous Russian folk dance, squatting and kicking with her arms folded in front of her.</figcaption>
    </figure>

  <p>It’s show day. Mancini has led a final morning assembly and sent her charges off with eight full-throated, fist-pumping I Rock!’s along with stern instructions to take those words out into the world. A couple of stylists from Miss Laura’s salon in JP have come in to give the campers hairdos and Kelly Davidson, a local photographer, spirits each band away after their final practice to snap promo photos. There’s one more assembly, up in the Rock Room, and one last game, Behind Your Back. Maybe trim if we’re not going to explain the game… As “Total Eclipse of the Heart” blares from the speakers, campers roam the room writing anonymous farewell messages to each other on sheets of paper taped to their backs.</p>

  <blockquote class="bq bq--sm">
    <p>Thank you for being my friend</p>
    <p>You’re a badass</p>
    <p>You count like a MOFO</p>
    <p>You’re smart, fun and kind</p>
    <p>You’re a brave woman</p>
    <p>You are a true artist</p>
    <p>I love you</p>
  </blockquote>

  <p>As the doors to Once Ballroom open to the public, campers pile into the venue’s narrow kitchen, some in glitter and heels, others in jeans and t-shirts, everyone pressed shoulder to shoulder and quivering with nerves and excitement. Mancini and Allen-Wiles jump up onto a metal countertop, crouching to avoid hitting their heads on the ceiling, to deliver the pre-show pep talk. Mancini is beside herself, in rare form, exalting the women for their courage and their heart, reminding them of the extraordinary things she saw them do over the weekend and assuring them that magic is going to happen on stage tonight. She believes so damn hard she could lift up the whole room with her pinkie fingers. But Allen-Wiles delivers the gut punch.</p>

  <p>You can’t forget this. You have to wake up tomorrow morning, even though you’re not putting on your lanyard, you’re not coming back to rock camp, you have to walk back into your job or wherever your life is and say what to the status quo? FUCK YOU. You can’t go back the same. You have to treat women differently. Every day. You have to smile at women on the street. Tell them that you notice them, that they matter, because that’s where it starts. And then you build it and you build it and you build it.</p>

  <figure class="media media--full layout-multi">
      <picture class="layout-multi__large">
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-13_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-13_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-13_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-13_placeholder.jpg" data-srcset="/assets/images/article-1-13_placeholder.jpg" alt="">
      </picture>
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-14_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-14_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-14_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-14_placeholder.jpg" data-srcset="/assets/images/article-1-14_placeholder.jpg" alt="">
      </picture>
      <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-15_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-15_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-15_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-15_placeholder.jpg" data-srcset="/assets/images/article-1-15_placeholder.jpg" alt="">
      </picture>
      <figcaption>Show time at Once Ballroom.</figcaption>
    </figure>

  <p>Right now, though, there’s nothing to do but play a show. Nine bands are on tonight’s bill, with sounds ranging in style from ethereal noise and swaggering rock to sassy pop and ferocious punk: Unphased, Pity Crush, Nora and the Frustrations, Pink Freud, Together Alone, Fallen Petals, The Sirens, Temporary Goddess, and Girl Skull. If I could I would explain exactly how the exhausted campers muscling through the last band practice at Spontaneous Celebrations turned into the rock goddesses on stage at Once, but Mancini is right. It defies logic. I’m not just talking about the devil-horns hand gestures Carolyn Zagame is flinging at the crowd like she’s the mother of all metal, although that sight alone is worth the price of admission, especially for Steve Zagame, who embraces his wife after Fallen Petals’ one-song set with a palpable mix of surprise and tenderness. I’m not just talking about Girl Skull, Grace Buchanan’s band, whose anthem “Kick the Doors Open (For the Girls Behind)” brought the house down and should be on the radio. I’m talking about swaggering musical performances across the board from baby bands bursting with personality and armed with lyrics that read like pages ripped from a diary, or a manifesto, or a long-buried volume of poetry that might never have seen the light of day if not for three crazy days in a Jamaica Plain community center.</p>

  <figure class="media media--full layout-youtube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y1kgOAMT7yQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </figure>

  <div class="author-bio">
    <p><a href="#">Joan Anderman</a> is something about here goes right here just like this.</p>
    <p><a href="#">Gretchen Ertl</a> is something about here goes right here just like this.</p>
  </div>

  {{> modules/discuss-cta }}

</section>