<section class="article-content">

  {{> modules/share-tools }}

  <h3 class="crosshed">Busy Work</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>For most of us, the experience of “going to work” tends to be a steady, predictable, and more-or-less mandatory part of life. The traditional office job has evolved certain indelible qualities over the past 60 years or so. We commute in and out. We sit in chairs. We work on computers. We deal with co-workers. Meetings are convened. They are interminable. Coffee is often involved.</p>

  <p><a href="https://revisesociology.com/2016/08/16/percentage-life-work/">Recent studies</a> suggest that we will spend about one-quarter to one-third of our lives like this. Plenty of different factors inform the work environment, of course – location, compensation, bosses. But one variable is changing things rapidly in the 21st century – technology. For the traditional office job, anyway, available technology of the day determines a great deal of the overall work experience.</p>

  <p>Here we look at several emerging technologies that are likely to impact the work world in coming years. There are a lot of different jobs out there, so to keep things manageable, we're focusing in on the typical office scenario. We're also calibrating the time machine to scan just the near-future possibilities – the next 20 years or so. These technologies are in various stages of development – some are in the research labs, others may be in your office right now. Some are incredible. Some are goofy. And some are a little spooky. Let's punch the clock.</p>

  <h3 class="crosshed">The Commute</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>For urban folk who rely on public transportation, the work commute has gradually shifted in recent decades with the advent of the laptop computer, the smart phone, and wireless Internet access. Lots of us now find ourselves working while we're commuting, on the subway, train or bus.</p>

  <p>We may soon be working in our cars, too. Autonomous vehicle technology is moving very quickly, and some forward-thinking companies are already designing self-driving cars that essentially function as mobile offices. Set your destination, flip a switch, and the interior of the car morphs into an office configuration: The driver's seat swivels around, desks pop out of the floor, side windows turn into electronic displays. This isn't just sketchbook noodling, either: These next-generation vehicles are already <a href="http://www.vw.com/electric-concepts/section/id-buzz/">in the pipeline</a>.</p>

  <p>A little farther down the development track, several automakers are now designing concept vehicles like the <a href="https://newsroom.toyota.co.jp/en/corporate/20546438.html">Honda e-Palette</a>, pictured above, which can serve as multi-purpose “rooms on wheels” for a full-service office-to-office commute.</p>

  <h3 class="crosshed">Speech Recognition</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Of all the emerging technologies likely to impact the typical office job, one in particular is leading the pack just now. Speech recognition has made enormous leaps in recent years. Just ask your Amazon Alexa or Apple Siri. No, really. Go ahead and ask them. There's a reason that the planet's largest tech companies are investing so heavily in this stuff.</p>

  <p>Hundreds of major speech-recognition initiatives are now in development across all industries. The technology represents a fundamental shift in how we interact with computers, which is usually the central activity in most office jobs. The emerging consensus is that, in the next 10-20 years, speech recognition will supplant the keyboard as our primary of communicating with our various machines.</p>

  <p>The idea isn't all that new, actually. Veterans of the personal computer revolution can tell you that workplace speech recognition tech has actually been around since the 1990s. Alas, to indulge in industry jargon, it has traditionally sucked. The surprising accuracy of today's systems is due almost entirely to recent advances in machine learning and artificial intelligence, plus better microphones.</p>

  <h3 class="crosshed">Gesture Recognition</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Gesture recognition is the other major emerging technology likely to make significant near-future changes in the workplace. Like speech recognition, it's essentially a shift in human-computer interaction. Rather than using spoken language, gesture recognition pivots on body language.</p>

  <p>For those who work with the usual office setup – sitting and facing a screen – desktop toolsets like the <a href="https://www.leapmotion.com/">Leap Motion</a> system are pointing the way to the future. Leap has released several systems over the years that use infrared cameras to track the movement of your hands and fingers. Using gestures, you can manipulate data and virtual objects on a traditional computer display or, more likely, a virtual reality headset. There's even some talk of developing an <a href="https://research.cs.vt.edu/3di/node/231">imaginary keyboard</a>.</p>

  <p>The idea isn't all that new, actually. Veterans of the personal computer revolution can tell you that workplace speech recognition tech has actually been around since the 1990s. Alas, to indulge in industry jargon, it has traditionally sucked. The surprising accuracy of today's systems is due almost entirely to recent advances in machine learning and artificial intelligence, plus better microphones.</p>

  <h3 class="crosshed">Virtual Reality</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>As we think up new ways to interact with our workplace machines, you can expect a lot of crossover into that sprawling area of technology known as virtual reality. For instance, gesture recognition is just one aspect of a much larger effort to demolish the boundaries between physical space and virtual space. Will the day ever arrive where the physical office is replaced by the virtual office?</p>

  <p>In some fast-forward workplaces, it's already arrived. Ford Motor Company is currently operating several research labs that are essentially virtual reality offices. At facilities in Michigan, California, Germany and China, engineers spend most of their time strapped into VR headsets. They may be physically sitting in Michigan or Germany, but the real workplace is the <a href="http://driving.ca/ford/auto-news/news/how-it-works-ford-design-studios">Ford Vehicle Immersion Environment</a> (FiVE), a virtual reality construct where designers collaborate on immersive 3D models of concept vehicles. In this virtual office space, physical distance is irrelevant and engineers on different continents work side by side.</p>

  <p>Such collaborative VR workplaces are popping up all over the place in manufacturing, and in other industries as well. Virtual reality is such a complex and fast-moving technology that it's tricky to generate any useful prognostication. But based on the money and resources being poured into the field, many more office workers will be strapping on goggles and gloves in the not-so-distant future.</p>

  {{> modules/newsletter }}

  <h3 class="crosshed">Office Space</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Back here on the grubby non-virtual plane, we must still contend with the physical environs of the workplace. Entire segments of the retail furniture business are dedicated to selling you on the tables and chairs and office décor of the near future – your standing desks and ergonomic smart chairs. But what will the true next-generation office look like?</p>

  <p>One intriguing vision of the future office was recently on display in Holland. <a href="http://www.raaaf.nl/en/projects/927_the_end_of_sitting/951">The End of Sitting</a> is an experimental installation that imagines a future office space of dynamic geometries and surfaces. A collaboration between artist Barbara Visser and the design studio Rietveld Architecture-Art-Affordances (RAAAF), the project is an attempt to radically rethink the office paradigm; “to develop a concept wherein the chair and desk are no longer unquestionable starting points.”</p>

  <p>Click around online and you can find <a href="https://www.businessnewsdaily.com/9463-smart-office-responsive-workplace.html">similar concepts</a> from forward-thinking design groups. Much of this work has been spurred by mounting <a href="https://www.mayoclinic.org/healthy-lifestyle/adult-health/expert-answers/sitting/faq-20058005">scientific evidence</a> that sitting all day is decidedly unhealthy. Can't argue with that.</p>

  <h3 class="crosshed">Follow the Patents</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Hey, aspiring prophets! Here's a helpful secret for predicting the future: If you want to find the emerging technologies most likely to make a splash down the line – in the workplace or anywhere else – try following the patents.</p>

  <p>The United States Patent and Trademark Office (USPTO) operates a massive <a href="http://patft1.uspto.gov/netahtml/PTO/index.html">text and image database</a> that's open to the public. Mining the data can be tricky, but for amateur lookee-loos, free online tools like <a href="http://www.latestpatents.com/">Latest Patents</a> website make for fun excavation. Here you can track what patents are being filed by leading technology companies like Apple, Google or IBM.</p>

  <p>For instance, recent filings from Amazon list patents for “Robotic grasping of items” and “Gaze assisted object recognition.” Google has “Autonomous vehicle seat” and “Personalized electronic magazine.” Apple just filed a bunch of new patents that suggest the company is investing heavily in the concept of <a href="http://www.patentlyapple.com/patently-apple/2017/08/three-major-smart-fabric-patents-surfaced-today-focusing-on-smart-clothing-wearables-future-devices.html">interactive clothing</a>. Touchscreen shirts. Interactive pants. This sort of thing.</p>

  <h3 class="crosshed">Nature Calls</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>In the spirit of exhaustive inquiry, we may as well acknowledge that bathroom breaks are a part of office life. Your future experience in this arena may be changing as well.</p>

  <p>A surprisingly wide range of so-called “smart toilets” are now installed in restrooms both public and private. Most of them are in Japan, which for some reason is really enthusiastic about this technology. <a href="https://www.cnn.com/style/article/toto-on-japan/index.html">No, really</a>. Standard workplace accommodations are likely to evolve toward products like Kohler's <a href="https://www.us.kohler.com/us/numi-toilet-premium-remote/productDetail/toilets/1334091.htm?">Numi</a> line of toilets, which incorporates water-saving technology, hands-free operation of the lid and flushing mechanism, and Bluetooth connectivity to your mobile device.</p>

  <p>Weird science note: The Bluetooth option may seem ridiculous, but it's a holdover from early designs when these things were aimed at the luxury home market. (The idea is to let you play your own music during quality time.) One unsettling side effect: It appears that smart toilets <a href="https://www.usatoday.com/story/tech/2013/08/06/smart-toilet-hack/2622723/">can be hacked</a>.</p>

  <h3 class="crosshed">The Big Picture</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Let's step back a minute for an overhead view: Office jobs quite naturally tend to be located in office buildings. For hardcore city dwellers, those buildings can get <em>really</em> big.</p>

  <p>So what will future office buildings and plazas look like? One heartening 21st-century trend is that big buildings and city spaces are a lot more eco-friendly than they used to be. Architecture changes slowly, so near-future changes are likely to be small and iterative. Consider the European startup concept called <a href="https://greencitysolutions.de/en/solutions/#section2">CityTree</a>, a mobile moss structure designed to scrub pollutants from the air in city parks and commercial plazas.</p>

  <p>For the eye-popping far-future stuff, be sure to check out eVolo magazine's annual <a href="http://www.evolo.us/category/competition/">Skyscraper Competition</a>, which invites architects to cut loose and dream up incredible space-age buildings of the future. The concept skyscraper pictured here, runner-up winner in 2017, envisions a colossal <a href="http://www.evolo.us/featured/vertical-factories-in-megacities/">vertical factory</a> where materials are perpetually recycled through integrated green spaces.</p>

  <h3 class="crosshed">Welcome to the Machine</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Here's where things get spooky. If you plot out the future trajectory of technologies like virtual reality, AI, robotics and speech recognition, you'll find the dividing line between human and machine starts to get a little blurry. That's where BCI tech comes in. It's the ultimate man-machine connection.</p>

  <p>BCI stands for brain-computer interface, and it's the catch-all term for technologies that establish direct communication between the human brain and an external (or internal!) machine. This may seem like science fiction, but it's getting pretty real, pretty fast. Last year, Stanford researchers demonstrated a <a href="https://www.youtube.com/watch?v=9oka8hqsOzg">BCI system</a> that directly translates brain waves into letters and words, allowing paralyzed patients to type sentences just by thinking them.</p>

  <p>In April 2018, University of California research team unveiled a similar <a href="http://iopscience.iop.org/article/10.1088/1741-2552/aaab6f/meta">neuroprosthetic device</a> that transcribes the brain waves generated when a person hears a particular phrase or sentence. It doesn't transcribe the spoken words, mind you: It transcribes the brain signals triggered by the spoken words. Think that one through and you can see how things could get scary in a hurry. On the upside, both systems require surgical brain implants for now, which may discourage the squeamish.</p>

  <h3 class="crosshed">Robot Revolution</h3>
  <figure class="media media--inline">
    <picture>
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/article-1-5_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/article-1-5_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/article-1-5_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/article-1-5_placeholder.jpg" data-srcset="/assets/images/article-1-5_placeholder.jpg" alt="">
    </picture>
    <div class="img__caption">
      <cite>Person / Credit</cite>
      <figcaption>TKTKTK</figcaption>
      </div>
  </figure>
  <p>Artificial intelligence represents a global workplace upheaval so potentially massive that it's hard to even introduce without spraining a frontal lobe. The same with the advanced robotic systems that are displacing human workers all over the planet. Emerging consensus suggests that these two interrelated technologies will have the most profound impact in the next 20 years – not just in the workplace, but for our species as a whole.</p>

  <p>Click around online and you can find all sorts of scary statistics. An oft-cited <a href="https://www.pwc.co.uk/economic-services/ukeo/pwcukeo-section-4-automation-march-2017-v2.pdf">2017 study</a> by the consulting firm PricewaterhouseCoopers suggests that more than a third of U.S. jobs are at “high risk” of becoming fully automated by the year 2030. <a href="https://www.mckinsey.com/featured-insights/digital-disruption/harnessing-automation-for-a-future-that-works">More optimistic studies</a> predict that other market forces will offset these losses; that the very nature of our economy will change, as it did during the Industrial Revolution.</p>

  <p>How will all these seismic forces inform the experience of going to work? The awful truth is that no one knows. You can find some genuinely <a href="http://theinstitute.ieee.org/ns/quarterly_issues/tijun16.pdf">good primers</a> on the topic, but this is an adventure we're all going on together, sooner than later, and without a map. As always – there's no substitute for experience.</p>


  <div class="author-bio">
    <p><a href="#">Joan Anderman</a> is something about here goes right here just like this.</p>
    <p><a href="#">Gretchen Ertl</a> is something about here goes right here just like this.</p>
  </div>

  {{> modules/discuss-cta }}

</section>