<figure class="audio">
  <div class="audio__sound">
    <button class="audio__btn" type="button" data-audio-btn>@@include("equalizer.svg")</button>
    <figcaption>Hilken at the morning meeting, “Be our heroes, for our girls and for each other. I want you to find the pose that makes you feel comfortable and good. I don’t care what it is. Stand up. ”</figcaption>
  </div>
  <div class="audio__visual">
    <picture>
        <!--[if IE 9]><video style='display: none;'><![endif]-->
          <source data-srcset="/assets/images/article-1-9_1200.jpg" media="(min-width:853px)">
          <source data-srcset="/assets/images/article-1-9_900.jpg" media="(min-width:600px)">
          <source data-srcset="/assets/images/article-1-9_650.jpg" media="(min-width:1px)">
          <!--[if IE 9]></video><![endif]-->
          <img class="lazyload" src="/assets/images/article-1-9_placeholder.jpg" data-srcset="/assets/images/article-1-9_placeholder.jpg" alt="">
      </picture>
  </div>
</figure>