<div class="newsletter {{#if footer}}newsletter--footer{{else}}newsletter--inline{{/if}}">
  <p class="newsletter__title" id="news-form-title">Get experience in your inbox</p>
  <form class="newsletter__form">

      <label class="newsletter__label" for="email-input">
      Your email
        <input class="newsletter__input" type="email" name="email" id="email-input" required="">
      </label>

    <button class="btn--form" type="submit">Sign up</button>
  </form>
</div>