<section class="recirc">
  <div class="recirc__feature">
    {{> modules/tease-playlist }}
  </div>
  <div class="recirc__list">
    <p class="overline--min">More in <a href="#">First Person</a></p>
    {{> modules/tease-sm }}
    {{> modules/tease-sm }}
    {{> modules/tease-sm }}
    {{> modules/tease-sm }}
  </div>
</section>