<section class="recirc recirc--layout-grid">
  {{> modules/tease-mid recircclass="recirc__big" byline=true headline="Water terrifies me. Here’s how I took the plunge."}}
  <p class="overline--min">More in <a href="#">First Person</a></p>
  {{> modules/tease-sm}}
  {{> modules/tease-sm}}
</section>