<aside class="share-tools">
  <div class="share-tools__container">
    <p class="share-tools__title">Share this experience</p>

    <ul class="share-tools__list">
      <li class="share-tools__item">
        <a href="#">Copy URL @@include("link.svg")</a>
      </li>
      <li class="share-tools__item">
        <a href="#">Share @@include("facebook.svg")</a>
      </li>
      <li class="share-tools__item">
        <a href="#">Tweet @@include("twitter.svg")</a>
      </li>
      <li class="share-tools__item">
        <a href="#">Email @@include("email.svg")</a>
      </li>
    </ul>
  </div>
</aside>