<aside class="share-tools">
  <p class="share-tools__title">Share this experience</p>

  <ul class="share-tools__list">
    <li class="share-tools__item">
      <a href="#">@@include("link.svg") Copy URL</a>
    </li>
    <li class="share-tools__item">
      <a href="#">@@include("facebook.svg") Share</a>
    </li>
    <li class="share-tools__item">
      <a href="#">@@include("twitter.svg") Tweet</a>
    </li>
    <li class="share-tools__item">
      <a href="#">@@include("email.svg") Email</a>
    </li>
  </ul>
</aside>