<div class="tz tz--sm">
  <div class="tz__content">
  <a href="#" class="tz__link">
    <h4 class="tz__hed">Water terrifies me. Here’s how I took the plunge.</h4>
  </a>
  </div>
  <a href="#" class="tz__link tz__media">
  <figure class="tz__figure">
    <picture class="tz__img">
      <!--[if IE 9]><video style='display: none;'><![endif]-->
        <source data-srcset="/assets/images/tz1_1200.jpg" media="(min-width:853px)">
        <source data-srcset="/assets/images/tz1_900.jpg" media="(min-width:600px)">
        <source data-srcset="/assets/images/tz1_650.jpg" media="(min-width:1px)">
        <!--[if IE 9]></video><![endif]-->
        <img class="lazyload" src="/assets/images/tz1_placeholder.jpg" data-srcset="/assets/images/tz1_placeholder.jpg" alt="">
    </picture>
  </figure>
  </a>
</div>